openapi: 3.1.0
info:
  description: |
    The Weft API is the buyer-runtime surface that powers the `weft` CLI,
    the hosted MCP server (`weft.network/mcp`), and any third-party agent
    that wants to discover and pay for paid resources on Weft. v1 covers
    five buyer concerns:

      1. Account onboarding (`/api/v1/auth/*`, `/api/v1/me`)
      2. CLI authentication (`/api/v1/api_keys`)
      3. Wallet visibility (`/api/v1/balance`)
      4. Discovery (`/api/v1/search`)
      5. Paid execution (`/api/v1/fetch`)
      6. Purchase history (`/api/v1/payments`)

    Seller-side concerns (agent management, payout analytics, webhook
    delivery, the public storefront for `data_api` resources) live in the
    dashboard and are intentionally not documented here. They will be
    split out into a separate, dashboard-scoped spec when they need to be
    SDK-consumable.

    All errors share the envelope defined by `ErrorResponse`, except the
    buyer-runtime endpoints (`/search`, `/fetch`) which use bespoke
    envelopes carrying additional context — see `SearchErrorResponse` and
    `FetchErrorResponse`.
  title: Weft API
  version: 0.7.0
servers:
- description: Production
  url: https://weft.network
- description: Staging
  url: https://staging.weft.network
- description: Development
  url: http://localhost:3000
tags:
- description: Account creation and authentication flows.
  name: Auth
- description: Current user account information.
  name: Account
- description: Manage API keys used by the CLI and any direct HTTP caller.
  name: API Keys
- description: |
    Read-only snapshot of the buyer's wallet, spending policy, and
    current-window spend (today / this week).
  name: Balance
- description: |
    Semantic search across the Weft index of paid agent resources.
    Returns A2A-shaped AgentCards with pricing, skills, ranking, and
    endpoints. The mock backend (default while the search-platform is
    unshipped) reads YAML fixtures from `db/seeds/mock-search/`; the
    platform backend proxies to the upstream search service. Both share
    the same response envelope.
  name: Search
- description: |
    The universal x402 fetch proxy. POST any URL the agent wants to
    reach, with a `max_cost_usd` ceiling; Weft handles the `402 Payment
    Required` challenge, signs the EIP-3009 payment from the buyer's
    wallet, replays the request, and streams the upstream artifact
    back base64-encoded. Errors always carry the buyer's current
    policy + balance + dashboard URL so the caller can surface "what
    changed?" without a second round-trip.
  name: Fetch
- description: Payment history and individual purchase details.
  name: Payments
- description: |
    Public, unauthenticated ghost-resource enrollment. Lets an agent
    self-register so its human controller can later claim it from the
    dashboard.
  name: Resources
paths:
  /docs/openapi.yaml:
    get:
      operationId: getOpenApiDocument
      responses:
        "200":
          content:
            application/yaml:
              schema:
                type: string
          description: OpenAPI 3.1 document (YAML)
      summary: Fetch this OpenAPI document
  /api/v1/resources/enroll:
    post:
      description: |
        Lets an unauthenticated agent (or its operator) self-enroll a
        Resource as a "ghost" (no owning provider). The server generates the
        `slug` and a single-use `claim_token`; the response also carries a
        `claim_url` the agent hands to its human controller to claim the
        resource from the dashboard.

        Client-supplied `slug` and `category` are silently ignored: slugs are
        server-generated from `name` (so callers cannot squat on reserved
        names), and `category` is a post-claim concern set by a real human.

        Rate-limited to 10 enrollments/hour/IP.
      operationId: enrollResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceEnrollmentRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceEnrollmentResponse"
          description: Ghost resource created
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Validation error (missing/blank fields, or unknown `kind`)"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded (10 enrollments/hour/IP)
      summary: "Self-enroll a ghost resource (public, no auth)"
      tags:
      - Resources
  /api/v1/auth/sign_up:
    post:
      operationId: signUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Account created
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      summary: Create an account
      tags:
      - Auth
  /api/v1/auth/confirm:
    post:
      operationId: confirmAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Account confirmed
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid token
      summary: Confirm an account
      tags:
      - Auth
  /api/v1/auth/resend-confirmation:
    post:
      operationId: resendConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendConfirmationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Confirmation sent
      summary: Resend confirmation email
      tags:
      - Auth
  /api/v1/auth/sign_in:
    post:
      operationId: signIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Signed in
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid credentials
      summary: Sign in with email and password
      tags:
      - Auth
  /api/v1/auth/password/reset:
    post:
      operationId: requestPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Reset email sent
      summary: Request password reset
      tags:
      - Auth
  /api/v1/auth/password/update:
    post:
      operationId: updatePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password updated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid or expired reset token
      summary: Update password with reset token
      tags:
      - Auth
  /api/v1/me:
    get:
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
          description: Current user account
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
      security:
      - bearerAuth: []
      summary: Get current account
      tags:
      - Account
  /api/v1/api_keys:
    get:
      operationId: listApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
          description: List of API keys
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
      security:
      - bearerAuth: []
      summary: List API keys
      tags:
      - API Keys
    post:
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreatedResponse"
          description: "API key created (includes raw key, shown only once)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Create an API key
      tags:
      - API Keys
  /api/v1/api_keys/{id}:
    delete:
      operationId: revokeApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: API key revoked
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API key not found
      security:
      - bearerAuth: []
      summary: Revoke an API key
      tags:
      - API Keys
  /api/v1/balance:
    get:
      description: |
        Read-only snapshot for the buyer behind the bearer token. The
        response always includes a `promo` block — values are zero in v1
        and fill in once the freemium promo ledger ships, without a
        shape change. `wallet.balance_usdc` is fetched live from Privy;
        if Privy is unreachable the field returns `"0.00"` rather than
        erroring the whole call.

        Account-scoped: the bearer must be a buyer-scoped API key.
      operationId: getBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
          description: Wallet + policy + spend snapshot
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
          description: |
            The OAuth access token authenticated but lacks the `balance`
            scope (RFC 6750 `insufficient_scope`). Carries a
            `WWW-Authenticate: Bearer error="insufficient_scope", scope="balance"`
            header. `wk_` API keys are unscoped and never see this.
      security:
      - bearerAuth: []
      summary: "Get wallet, spending policy, and current-window spend"
      tags:
      - Balance
  /api/v1/search:
    post:
      description: |
        Semantic search over the Weft index of paid agent resources. The
        request body is the weft-search-platform `/v1/search` contract:
        a free-text `query`, optional `max_results`, and optional structured
        `filters` (price / price_atomic / type / protocol — the canonical
        FilterSpec v1 vocabulary, vendored verbatim from the platform). Price is
        a dual representation of one constraint: `price` in USD decimal strings
        (the reasoning form) XOR `price_atomic` in integer micro-USD (the
        settlement form) — mutually exclusive, set at most one.

        Backend selection is server-side via the `SEARCH_BACKEND` env var:
        `mock` (default, reads YAML fixtures and sets `_mock: true` in the
        response) or `platform` (proxies to the upstream search service).
        Both backends return the platform `SearchResponse` envelope.

        Account-scoped: the bearer token must be a buyer-scoped API key.
        Free for authenticated buyers in v1; billing is planned for a later
        release.

        Response negotiation: `Accept: application/json` (default) returns
        the structured envelope; `Accept: text/markdown` returns a rendered
        Markdown digest of the same results — useful for piping into a chat
        UI or LLM prompt.
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/markdown:
              schema:
                description: Rendered Markdown digest of the same results.
                type: string
          description: Search results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
          description: |
            The OAuth access token authenticated but lacks the `search`
            scope (RFC 6750 `insufficient_scope`). Carries a
            `WWW-Authenticate: Bearer error="insufficient_scope", scope="search"`
            header. `wk_` API keys are unscoped and never see this.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
          description: |
            Invalid request — empty/missing `query`, out-of-range
            `max_results`, an unknown top-level parameter, or invalid
            `filters` (unknown filter key/operator, bad enum value, or a
            sub-filter without exactly one operator). See the `error` code.
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
          description: Upstream search backend error (platform backend only)
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
          description: Backend misconfigured (`SEARCH_BACKEND` unset or unknown)
      security:
      - bearerAuth: []
      summary: Search the Weft index
      tags:
      - Search
  /api/v1/fetch:
    post:
      description: |
        Universal x402 fetch proxy. The caller provides a target `url`,
        a hard `max_cost_usd` ceiling, and optional `method` / `body` /
        `headers`. Weft:

          1. Issues the request.
          2. On `402 Payment Required`, parses the merchant's challenge.
          3. Compares the asking price to `max_cost_usd` and the
             buyer's policy (`max_tx_usd`, daily/weekly limits).
          4. Signs an EIP-3009 transfer from the buyer's wallet.
          5. Replays the request with the `X-Payment` header.
          6. Streams the upstream artifact back, base64-encoded under
             `body_base64`, with `paid_usd`, `held_usd`, `payment_status`,
             `tx_hash`, and the merchant's reputation snapshot. `paid_usd`
             is "0" until the charge is CONFIRMED settled — a signed-but-
             unsettled hold (the common case for x402, which settles
             asynchronously) reports its amount in `held_usd` instead, never
             in `paid_usd`.

        Errors are structured with a stable `error` code, and each error
        response carries the buyer's `policy`, `balance`, and a
        `dashboard_url` so a CLI can render an actionable message without
        a second round-trip.

        Account-scoped: the bearer must be a buyer-scoped API key.

        **Forwarded headers:** the caller's `headers` are passed through
        to the upstream, except a denylist of hop-by-hop and
        Weft-internal headers (`host`, `authorization`, `cookie`,
        `proxy-authorization`, `x-forwarded-*`, `x-real-ip`,
        `x-payment`, `connection`, `upgrade`). Up to 32 headers, 4 KB of
        combined value bytes.
      operationId: fetch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchResponse"
          description: Fetch succeeded (or upstream was free); artifact streamed back
            base64-encoded.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped API key
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            Payment refused. `EXCEEDED_MAX_COST` (over the caller cap) or
            `INSUFFICIENT_BALANCE` (the buyer is genuinely short). Also
            `CONVERSION_UNAVAILABLE` — a cross-chain provision route is down
            while the buyer's funds are intact (`details.venue`,
            `details.retryable: true`); retry later, do NOT top up. All use
            `FetchErrorResponse`.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fetch_403_response"
          description: |
            Policy violation, denylisted recipient, or a merchant challenge on a
            chain outside the wallet's own environment — a testnet wallet may
            not pay a mainnet challenge, nor the reverse
            (`WALLET_ENVIRONMENT_MISMATCH`; terminal, not retryable). All three
            use `FetchErrorResponse`. Alternatively an OAuth access token
            lacking the `fetch` scope (`InsufficientScopeResponse`, RFC 6750
            `insufficient_scope`, with a `WWW-Authenticate` challenge). The two
            envelopes are disjoint; branch on the `error` value.
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: Upstream artifact exceeded the proxy's size cap.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            Invalid request URL, a merchant payment method Weft cannot sign
            (`UNSUPPORTED_PAYMENT_METHOD`), or a merchant settlement token Weft
            cannot convert into (`UNSUPPORTED_ASSET` — the token's on-chain
            `currency()` is not USD; terminal for this merchant, funds
            untouched, `details.asset` names it).
        "424":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            `MERCHANT_RETURNED_NON_402` — the upstream merchant is at fault: it
            did not return a 402, or its 402 challenge was invalid. A 4xx (not
            5xx) because Weft behaved correctly and the caller should act on
            `details.reason` (e.g. pick another merchant); it also keeps the
            error envelope intact through CDNs that replace 5xx bodies.
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: Settlement signing failed on Weft's side (`SETTLEMENT_FAILED`).
      security:
      - bearerAuth: []
      summary: Pay-and-fetch any URL (x402 proxy)
      tags:
      - Fetch
  /api/v1/payments:
    get:
      operationId: listPayments
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
          description: List of payments
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
      security:
      - bearerAuth: []
      summary: List payments
      tags:
      - Payments
  /api/v1/payments/{id}:
    get:
      operationId: getPayment
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Payment details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payment not found
      security:
      - bearerAuth: []
      summary: Get payment details
      tags:
      - Payments
components:
  schemas:
    ErrorResponse:
      description: |
        Standard error envelope returned by all `/api/v1` endpoints except
        `/search` and `/fetch` (which use bespoke envelopes carrying
        additional context). `error.code` is stable across releases and
        safe to branch on; `error.message` is human-readable and may change.
      example:
        error:
          code: unauthorized
          message: Invalid or expired API key
          request_id: req_01HX9F3K7B2N4P8Q1R6T8Y2Z5
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required:
      - error
    Error:
      description: |
        A single error inside an `ErrorResponse` envelope. `code` is the
        stable machine-readable identifier (snake_case), `message` is
        human-readable, `details` carries optional structured context
        (e.g. validation field breakdown), and `request_id` correlates
        with server logs for debugging.
      properties:
        code:
          description: Stable machine-readable error code (snake_case).
          example: validation_failed
          type: string
        message:
          description: Human-readable error description.
          example: Email has already been taken
          type: string
        details:
          description: Optional structured context about the failure.
          type: object
          nullable: true
        request_id:
          description: Correlates with server logs; include when reporting bugs.
          example: req_01HX9F3K7B2N4P8Q1R6T8Y2Z5
          type: string
      required:
      - code
      - message
    InsufficientScopeResponse:
      description: |
        RFC 6750 §3.1 `insufficient_scope` error. Returned with HTTP 403 and
        a `WWW-Authenticate: Bearer error="insufficient_scope", scope="..."`
        header when an OAuth access token authenticates successfully but does
        not carry the scope the endpoint requires. Only OAuth bearer tokens
        are scope-gated; `wk_`-prefixed API keys are unscoped and never see
        this response.
      example:
        error_description: The access token does not include the required scope.
        scope: balance
        error: insufficient_scope
      properties:
        error:
          enum:
          - insufficient_scope
          example: insufficient_scope
          type: string
        error_description:
          example: The access token does not include the required scope.
          type: string
        scope:
          description: Space-delimited list of scopes the endpoint requires.
          example: balance
          type: string
      required:
      - error
      - error_description
      - scope
    MessageResponse:
      example:
        data:
          message: message
      properties:
        data:
          $ref: "#/components/schemas/MessageResponse_data"
      required:
      - data
    ResourceEnrollmentRequest:
      description: |
        `slug` and `category` are accepted but silently ignored — the server
        generates the slug from `name`, and category is a post-claim concern.
      example:
        wallet_address: wallet_address
        kind: agent
        name: Self-Enrolled Bot
        description: description
      properties:
        kind:
          description: |
            Resource kind. Must be one of the supported kinds (currently
            `agent`); an unknown value is rejected with a 422.
          example: agent
          type: string
        name:
          description: Human-readable name; the server derives the slug from it.
          example: Self-Enrolled Bot
          type: string
        description:
          type: string
        wallet_address:
          description: |
            Declared EVM wallet address for the ghost resource. Stored as a
            claim (unverified) until the resource is claimed.
          type: string
      required:
      - kind
      - name
    ResourceEnrollmentResponse:
      example:
        data:
          wallet_address: wallet_address
          claim_url: claim_url
          visibility: public_profile
          kind: agent
          claim_token: claim_token
          claimed: true
          verified: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          stats:
            payments_received: 5
            first_seen: 2000-01-23T04:56:07.000+00:00
            total_paid: 6
            payments_made: 5
            last_active: 2000-01-23T04:56:07.000+00:00
            total_received: 1
            unique_counterparties: 2
          name: name
          id: 0
          category: category
          slug: slug
      properties:
        data:
          $ref: "#/components/schemas/EnrolledResource"
      required:
      - data
    EnrolledResource:
      description: |
        The `:created` view of a ghost resource. Adds `stats`, the single-use
        `claim_token`, and the `claim_url` to the base resource shape. The
        claim fields appear ONLY on this enrollment response — never in list
        or read views.
      example:
        wallet_address: wallet_address
        claim_url: claim_url
        visibility: public_profile
        kind: agent
        claim_token: claim_token
        claimed: true
        verified: true
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        stats:
          payments_received: 5
          first_seen: 2000-01-23T04:56:07.000+00:00
          total_paid: 6
          payments_made: 5
          last_active: 2000-01-23T04:56:07.000+00:00
          total_received: 1
          unique_counterparties: 2
        name: name
        id: 0
        category: category
        slug: slug
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        kind:
          example: agent
          type: string
        visibility:
          example: public_profile
          type: string
        wallet_address:
          description: "Declared wallet address, or `null` if none was provided."
          type: string
          nullable: true
        category:
          description: |
            Legacy v3 taxonomy field. Returns a string only for `agent`-kind
            resources that carry a `category` in their metadata; `null` for
            all other kinds and for agents without one. Always `null` on
            enrollment (category is a post-claim concern).
          type: string
          nullable: true
        verified:
          type: boolean
        claimed:
          description: True once the resource has an owning provider. Always false
            at enrollment.
          type: boolean
        created_at:
          format: date-time
          type: string
        stats:
          $ref: "#/components/schemas/ResourceStats"
        claim_token:
          description: Single-use token for the magic claim URL. Surfaced only on
            enrollment.
          type: string
        claim_url:
          description: Dashboard path the agent hands to its human to claim the resource.
          type: string
          nullable: true
      required:
      - category
      - claim_token
      - claim_url
      - claimed
      - created_at
      - id
      - kind
      - name
      - slug
      - stats
      - verified
      - visibility
    ResourceStats:
      description: Aggregate public payment stats for the resource.
      example:
        payments_received: 5
        first_seen: 2000-01-23T04:56:07.000+00:00
        total_paid: 6
        payments_made: 5
        last_active: 2000-01-23T04:56:07.000+00:00
        total_received: 1
        unique_counterparties: 2
      properties:
        total_paid:
          description: Total atomic units paid out by this resource.
          type: integer
        total_received:
          description: Total atomic units received by this resource.
          type: integer
        payments_made:
          type: integer
        payments_received:
          type: integer
        unique_counterparties:
          type: integer
        first_seen:
          format: date-time
          type: string
          nullable: true
        last_active:
          format: date-time
          type: string
          nullable: true
      required:
      - first_seen
      - last_active
      - payments_made
      - payments_received
      - total_paid
      - total_received
      - unique_counterparties
    Pagination:
      example:
        per_page: 1
        total: 5
        page: 6
        total_pages: 5
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      required:
      - page
      - per_page
      - total
      - total_pages
    SignUpRequest:
      example:
        password: password
        password_confirmation: password_confirmation
        email: email
      properties:
        email:
          format: email
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required:
      - email
      - password
      - password_confirmation
    SignInRequest:
      example:
        password: password
        email: email
      properties:
        email:
          format: email
          type: string
        password:
          type: string
      required:
      - email
      - password
    ConfirmRequest:
      example:
        confirmation_token: confirmation_token
      properties:
        confirmation_token:
          type: string
      required:
      - confirmation_token
    ResendConfirmationRequest:
      example:
        email: email
      properties:
        email:
          format: email
          type: string
      required:
      - email
    PasswordResetRequest:
      example:
        email: email
      properties:
        email:
          format: email
          type: string
      required:
      - email
    PasswordUpdateRequest:
      example:
        password: password
        password_confirmation: password_confirmation
        reset_password_token: reset_password_token
      properties:
        reset_password_token:
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required:
      - password
      - password_confirmation
      - reset_password_token
    AuthResponse:
      example:
        data:
          confirmation_required: true
          user:
            id: 0
            email: email
            status: status
          token: token
      properties:
        data:
          $ref: "#/components/schemas/AuthResponse_data"
      required:
      - data
    User:
      example:
        id: 0
        email: email
        status: status
      properties:
        id:
          type: integer
        email:
          format: email
          type: string
        status:
          type: string
      required:
      - email
      - id
    MeResponse:
      example:
        data:
          api_key:
            last_used_at: 2000-01-23T04:56:07.000+00:00
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            created_by:
              id: 1
              display_name: display_name
              email: email
          kind: kind
          name: name
          id: 0
          slug: slug
      properties:
        data:
          $ref: "#/components/schemas/AccountDetails"
      required:
      - data
    AccountDetails:
      description: |
        The Organization that owns the authenticated API key — the principal
        in API v1 (the key represents an Org, not a person). `api_key` carries
        audit info about the key itself, including the user who minted it
        (`created_by`, which may be `null` if that user has left the Org).
      example:
        api_key:
          last_used_at: 2000-01-23T04:56:07.000+00:00
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 6
          created_by:
            id: 1
            display_name: display_name
            email: email
        kind: kind
        name: name
        id: 0
        slug: slug
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        kind:
          type: string
        api_key:
          $ref: "#/components/schemas/MeApiKey"
      required:
      - api_key
      - id
      - kind
      - name
      - slug
    MeApiKey:
      example:
        last_used_at: 2000-01-23T04:56:07.000+00:00
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 6
        created_by:
          id: 1
          display_name: display_name
          email: email
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
        last_used_at:
          format: date-time
          type: string
          nullable: true
        created_by:
          $ref: "#/components/schemas/MeApiKeyCreator"
      required:
      - created_at
      - id
    MeApiKeyCreator:
      description: |
        The user who minted this API key, surfaced for audit rendering only.
        `null` if that user has since left the Organization. NEVER use for
        authorization.
      example:
        id: 1
        display_name: display_name
        email: email
      properties:
        id:
          type: integer
        email:
          format: email
          type: string
        display_name:
          type: string
          nullable: true
      required:
      - email
      - id
      nullable: true
    CreateApiKeyRequest:
      example:
        name: name
      properties:
        name:
          description: A friendly name for the API key
          type: string
    ApiKey:
      example:
        last_used_at: 2000-01-23T04:56:07.000+00:00
        revoked_at: 2000-01-23T04:56:07.000+00:00
        key_prefix: key_prefix
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          description: First 16 characters of the key for identification
          type: string
        last_used_at:
          format: date-time
          type: string
          nullable: true
        revoked_at:
          format: date-time
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - key_prefix
    ApiKeyCreated:
      example:
        key_prefix: key_prefix
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        raw_key: raw_key
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
        raw_key:
          description: Full API key (shown only once at creation)
          type: string
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - key_prefix
      - raw_key
    ApiKeyListResponse:
      example:
        pagination:
          per_page: 1
          total: 5
          page: 6
          total_pages: 5
        data:
        - last_used_at: 2000-01-23T04:56:07.000+00:00
          revoked_at: 2000-01-23T04:56:07.000+00:00
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
        - last_used_at: 2000-01-23T04:56:07.000+00:00
          revoked_at: 2000-01-23T04:56:07.000+00:00
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
      properties:
        data:
          items:
            $ref: "#/components/schemas/ApiKey"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    ApiKeyCreatedResponse:
      example:
        data:
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          raw_key: raw_key
      properties:
        data:
          $ref: "#/components/schemas/ApiKeyCreated"
      required:
      - data
    Payment:
      example:
        amount: 6
        resource_url: resource_url
        resource_host: resource_host
        tx_hash: tx_hash
        recipient_address: recipient_address
        settlement_latency_ms: 5
        api_key_name: api_key_name
        network: network
        fee_amount: 1
        amount_formatted: amount_formatted
        currency: currency
        id: 0
        settled_at: 2000-01-23T04:56:07.000+00:00
        payer_address: payer_address
      properties:
        id:
          type: integer
        tx_hash:
          type: string
        payer_address:
          type: string
        recipient_address:
          type: string
        amount:
          description: "Amount in atomic units (1 USDC = 1,000,000)"
          type: integer
        amount_formatted:
          description: Human-readable amount (e.g. "1.00 USDC")
          type: string
        currency:
          type: string
        network:
          description: CAIP-2 chain identifier
          type: string
        resource_url:
          type: string
          nullable: true
        resource_host:
          type: string
          nullable: true
        fee_amount:
          type: integer
        settlement_latency_ms:
          type: integer
          nullable: true
        settled_at:
          format: date-time
          type: string
        api_key_name:
          type: string
      required:
      - amount
      - amount_formatted
      - api_key_name
      - currency
      - id
      - network
      - payer_address
      - recipient_address
      - settled_at
      - tx_hash
    PaymentListResponse:
      example:
        pagination:
          per_page: 1
          total: 5
          page: 6
          total_pages: 5
        data:
        - amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 5
          api_key_name: api_key_name
          network: network
          fee_amount: 1
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
        - amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 5
          api_key_name: api_key_name
          network: network
          fee_amount: 1
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
      properties:
        data:
          items:
            $ref: "#/components/schemas/Payment"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    PaymentResponse:
      example:
        data:
          amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 5
          api_key_name: api_key_name
          network: network
          fee_amount: 1
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
      properties:
        data:
          $ref: "#/components/schemas/Payment"
      required:
      - data
    BalanceResponse:
      description: |
        Buyer's wallet snapshot. Note: unlike `/me` / `/payments` / `/api_keys`,
        this endpoint does NOT use a `data:` envelope — the response object
        is the snapshot directly.
      example:
        promo:
          expires_at: 2000-01-23T04:56:07.000+00:00
          scope: weft-search
          balance_usd: "0.00"
        wallet:
          address: address
          total_usd: "15.34"
          balance_usdc: "12.34"
          tempo_usd: "3.00"
          network: network
        spent_today_usd: "0.0005"
        spent_week_usd: "3.10"
        policy:
          weekly_limit_usd: "50.00"
          daily_limit_usd: "10.00"
          max_tx_usd: "1.00"
      properties:
        promo:
          $ref: "#/components/schemas/PromoBalance"
        wallet:
          $ref: "#/components/schemas/Wallet"
        spent_today_usd:
          description: "USD spent in the current calendar day (UTC). Up to 6 decimals\
            \ with trailing zeros trimmed so sub-cent micro-payments survive (\"0.0005\"\
            , \"0.42\"); a zero total renders as \"0\"."
          example: "0.0005"
          type: string
        spent_week_usd:
          description: "USD spent in the current calendar week (UTC, Monday start).\
            \ Up to 6 decimals with trailing zeros trimmed (\"0.0005\", \"3.10\");\
            \ a zero total renders as \"0\"."
          example: "3.10"
          type: string
        policy:
          $ref: "#/components/schemas/SpendingPolicy"
      required:
      - policy
      - promo
      - spent_today_usd
      - spent_week_usd
      - wallet
    PromoBalance:
      description: |
        Freemium promo credit. v1 returns zero values; once the promo
        ledger ships (deferred from spec 10), real balances appear here
        without a shape change.
      example:
        expires_at: 2000-01-23T04:56:07.000+00:00
        scope: weft-search
        balance_usd: "0.00"
      properties:
        balance_usd:
          example: "0.00"
          type: string
        scope:
          description: Where the promo can be spent.
          example: weft-search
          type: string
        expires_at:
          format: date-time
          type: string
          nullable: true
      required:
      - balance_usd
      - expires_at
      - scope
    Wallet:
      example:
        address: address
        total_usd: "15.34"
        balance_usdc: "12.34"
        tempo_usd: "3.00"
        network: network
      properties:
        address:
          description: EVM address of the buyer's Privy-managed wallet. Null if no
            wallet provisioned.
          type: string
          nullable: true
        balance_usdc:
          description: "Live Base USDC balance, 2dp. Returns \"0.00\" if the upstream\
            \ wallet provider is unreachable."
          example: "12.34"
          type: string
        tempo_usd:
          description: |
            Aggregated USD value of the allowlisted Tempo TIP-20 dollar tokens on the wallet's paired Tempo chain, 2dp. `null` when the value is UNKNOWN — the Tempo RPC read failed, or no dollar token is allowlisted for that chain yet (e.g. Tempo mainnet pre-launch). A null here is never "0.00"; it means "we couldn't determine it", and `total_usd` then reflects the Base component only.
          example: "3.00"
          type: string
          nullable: true
        total_usd:
          description: |
            Single aggregated USD balance = Base USDC + Tempo dollar tokens, 2dp. When `tempo_usd` is null (unavailable/unallowlisted) this equals `balance_usdc` alone. Null when the Base USDC provider is unreachable, because the surface never claims zero for a component it could not read.
          example: "15.34"
          type: string
          nullable: true
        network:
          description: Wallet network (e.g. `base-sepolia`).
          type: string
          nullable: true
      required:
      - address
      - balance_usdc
      - network
      - tempo_usd
      - total_usd
    SpendingPolicy:
      example:
        weekly_limit_usd: "50.00"
        daily_limit_usd: "10.00"
        max_tx_usd: "1.00"
      properties:
        max_tx_usd:
          description: Maximum USD per single transaction.
          example: "1.00"
          type: string
        daily_limit_usd:
          description: Maximum USD spent in a 24-hour window.
          example: "10.00"
          type: string
        weekly_limit_usd:
          description: Maximum USD spent in a 7-day window.
          example: "50.00"
          type: string
      required:
      - daily_limit_usd
      - max_tx_usd
      - weekly_limit_usd
    SearchRequest:
      additionalProperties: false
      example:
        query: send email from an agent
        max_results: 4
        filters:
          protocol:
            in:
            - x402
            - x402
            eq: x402
          price:
            range_lte: range_lte
            gte: gte
            lte: lte
            eq: eq
            range_gte: range_gte
          price_atomic:
            range_lte: 0
            gte: 0
            lte: 0
            eq: 0
            range_gte: 0
          type:
            in:
            - api
            - api
            eq: api
      properties:
        query:
          description: Free-text query. Required and non-empty.
          example: send email from an agent
          maxLength: 2000
          minLength: 1
          type: string
        max_results:
          default: 10
          description: "Max number of hits to return. Invalid values are rejected,\
            \ not clamped."
          maximum: 50
          minimum: 1
          type: integer
        filters:
          $ref: "#/components/schemas/SearchFilterSpec"
      required:
      - query
    SearchFilterSpec:
      additionalProperties: false
      description: |
        Structured hard constraints on the query — the weft-search-platform
        `FilterSpec` v1 typed subset, vendored verbatim (D1 contract). Every
        field is optional; an empty object is the no-filter query. Set fields
        are ANDed. Each sub-filter takes exactly one operator; unknown filter
        keys and unknown operators are rejected (`422 INVALID_FILTERS`).

        `price` (USD decimal strings) and `price_atomic` (integer micro-USD) are
        two representations of ONE price constraint — the reasoning form and the
        settlement form. They are MUTUALLY EXCLUSIVE: setting both is
        `422 INVALID_FILTERS`. A JSON number in `price` is rejected (only decimal
        strings), so `{lte: 5}` can never be mis-read as 5 micro-dollars.

        The canonical enum value sets are pinned to the platform spec by the CI
        drift gate (`docs/contracts/search-platform.openapi.yaml`).
      example:
        protocol:
          in:
          - x402
          - x402
          eq: x402
        price:
          range_lte: range_lte
          gte: gte
          lte: lte
          eq: eq
          range_gte: range_gte
        price_atomic:
          range_lte: 0
          gte: 0
          lte: 0
          eq: 0
          range_gte: 0
        type:
          in:
          - api
          - api
          eq: api
      properties:
        price:
          $ref: "#/components/schemas/SearchPriceUsdFilter"
        price_atomic:
          $ref: "#/components/schemas/SearchPriceAtomicFilter"
        type:
          $ref: "#/components/schemas/SearchResourceTypeFilter"
        protocol:
          $ref: "#/components/schemas/SearchProtocolFilter"
    SearchPriceUsdFilter:
      additionalProperties: false
      description: |
        Price constraint in USD, as decimal STRINGS (the reasoning form). Set
        exactly one operator: a scalar (`lte` / `gte` / `eq`) OR a range
        (`range_gte` + `range_lte` together, lower ≤ upper). Each value is a
        string matching `^\d+(\.\d{1,6})?$` (≤ 6 decimals, ≥ 0); a JSON number is
        rejected. Mutually exclusive with `price_atomic`. An unpriced resource is
        excluded from any price-filtered query.
      example:
        range_lte: range_lte
        gte: gte
        lte: lte
        eq: eq
        range_gte: range_gte
      properties:
        lte:
          description: "Price ≤ this many USD (inclusive ceiling), e.g. \"0.009\"."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        gte:
          description: "Price ≥ this many USD (inclusive floor), e.g. \"0.001\"."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        eq:
          description: "Price exactly this many USD, e.g. \"1.5\"."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        range_gte:
          description: "Range lower bound (inclusive), USD. Set with range_lte."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        range_lte:
          description: "Range upper bound (inclusive), USD. Set with range_gte."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
    SearchPriceAtomicFilter:
      additionalProperties: false
      description: |
        The same price constraint in integer micro-USD (1 USDC = 1_000_000
        micro-USD) — the settlement form. Set exactly one operator: a scalar
        (`lte` / `gte` / `eq`) OR a range (`range_gte` + `range_lte` together,
        lower ≤ upper). Mutually exclusive with `price`. An unpriced resource is
        excluded from any price-filtered query.
      example:
        range_lte: 0
        gte: 0
        lte: 0
        eq: 0
        range_gte: 0
      properties:
        lte:
          description: Price ≤ this many micro-USD (inclusive ceiling).
          minimum: 0
          type: integer
        gte:
          description: Price ≥ this many micro-USD (inclusive floor).
          minimum: 0
          type: integer
        eq:
          description: Price exactly this many micro-USD.
          minimum: 0
          type: integer
        range_gte:
          description: "Range lower bound (inclusive), micro-USD. Set with range_lte."
          minimum: 0
          type: integer
        range_lte:
          description: "Range upper bound (inclusive), micro-USD. Set with range_gte."
          minimum: 0
          type: integer
    SearchResourceTypeFilter:
      additionalProperties: false
      description: Resource-type constraint. Set exactly one of `eq` / `in`.
      example:
        in:
        - api
        - api
        eq: api
      properties:
        eq:
          description: Resource type is exactly this value.
          enum:
          - api
          - agent
          - mcp_tool
          - webpage
          - feed
          - document
          - dataset
          type: string
        in:
          description: Resource type is one of these values.
          items:
            enum:
            - api
            - agent
            - mcp_tool
            - webpage
            - feed
            - document
            - dataset
            type: string
          minItems: 1
          type: array
    SearchProtocolFilter:
      additionalProperties: false
      description: Payment-protocol constraint. Set exactly one of `eq` / `in`.
      example:
        in:
        - x402
        - x402
        eq: x402
      properties:
        eq:
          description: Primary protocol is exactly this value.
          enum:
          - x402
          - a2a
          - mpp
          - erc_8004
          type: string
        in:
          description: Primary protocol is one of these values.
          items:
            enum:
            - x402
            - a2a
            - mpp
            - erc_8004
            type: string
          minItems: 1
          type: array
    SearchResponse:
      description: |
        The weft-search-platform `POST /v1/search` response envelope. The
        mock backend emits the same shape and adds `_mock: true`.
      example:
        query_trace_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        _mock: true
        query: query
        candidates_considered: 0
        warnings:
        - code: code
          context: "{}"
          cause: cause
          message: message
        - code: code
          context: "{}"
          cause: cause
          message: message
        applied_filters: ""
        decomposition_source: CALLER
        embedder_model: embedder_model
        results:
        - score: 0.4145608029883936
          capability:
            capability_id: capability_id
            resolution_confidence: 1.4658129805029452
            capability_type: capability_type
          endpoints:
          - primary_protocol: primary_protocol
            price_usd: price_usd
            operated_by_id: operated_by_id
            resource_type: resource_type
            price_atomic: 5
            endpoint_id: endpoint_id
            operated_by_type: operated_by_type
            ranking:
              rank_reason: rank_reason
              min_total_latency_ms: 3
              similarity: 2.3021358869347655
              max_total_latency_ms: 2
              price_atomic: 7
              median_ttfb_ms: 9
              probe_status: probe_status
            price_decimals: 5
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            price_currency: price_currency
          - primary_protocol: primary_protocol
            price_usd: price_usd
            operated_by_id: operated_by_id
            resource_type: resource_type
            price_atomic: 5
            endpoint_id: endpoint_id
            operated_by_type: operated_by_type
            ranking:
              rank_reason: rank_reason
              min_total_latency_ms: 3
              similarity: 2.3021358869347655
              max_total_latency_ms: 2
              price_atomic: 7
              median_ttfb_ms: 9
              probe_status: probe_status
            price_decimals: 5
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            price_currency: price_currency
          provider:
            verification_state: verification_state
            origin_domains:
            - origin_domains
            - origin_domains
            provider_id: provider_id
            display_name: display_name
            identity_confidence: 6.027456183070403
        - score: 0.4145608029883936
          capability:
            capability_id: capability_id
            resolution_confidence: 1.4658129805029452
            capability_type: capability_type
          endpoints:
          - primary_protocol: primary_protocol
            price_usd: price_usd
            operated_by_id: operated_by_id
            resource_type: resource_type
            price_atomic: 5
            endpoint_id: endpoint_id
            operated_by_type: operated_by_type
            ranking:
              rank_reason: rank_reason
              min_total_latency_ms: 3
              similarity: 2.3021358869347655
              max_total_latency_ms: 2
              price_atomic: 7
              median_ttfb_ms: 9
              probe_status: probe_status
            price_decimals: 5
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            price_currency: price_currency
          - primary_protocol: primary_protocol
            price_usd: price_usd
            operated_by_id: operated_by_id
            resource_type: resource_type
            price_atomic: 5
            endpoint_id: endpoint_id
            operated_by_type: operated_by_type
            ranking:
              rank_reason: rank_reason
              min_total_latency_ms: 3
              similarity: 2.3021358869347655
              max_total_latency_ms: 2
              price_atomic: 7
              median_ttfb_ms: 9
              probe_status: probe_status
            price_decimals: 5
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            price_currency: price_currency
          provider:
            verification_state: verification_state
            origin_domains:
            - origin_domains
            - origin_domains
            provider_id: provider_id
            display_name: display_name
            identity_confidence: 6.027456183070403
      properties:
        query_trace_id:
          description: "Opaque trace id for the served query, matching the platform\
            \ `query_trace_id`."
          format: uuid
          type: string
        query:
          type: string
        applied_filters:
          allOf:
          - $ref: "#/components/schemas/SearchFilterSpec"
          description: |
            The `FilterSpec` actually applied to recall, echoed back so the
            caller sees exactly what constrained the results. In the current
            contract this is the caller's `filters` verbatim (empty object when
            none were sent).
        decomposition_source:
          description: |
            Origin of `applied_filters`. `CALLER` today (the mock and the B1
            platform have no query decomposer yet); `CLASSIFIER` / `MERGED` /
            `FALLBACK` arrive additively when the decomposer lands.
          enum:
          - CALLER
          - CLASSIFIER
          - MERGED
          - FALLBACK
          type: string
        embedder_model:
          type: string
        candidates_considered:
          minimum: 0
          type: integer
        warnings:
          items:
            $ref: "#/components/schemas/SearchResponse_warnings_inner"
          type: array
        results:
          items:
            $ref: "#/components/schemas/SearchResult"
          type: array
        _mock:
          description: Present and `true` only when served by the mock backend.
          type: boolean
      required:
      - candidates_considered
      - embedder_model
      - query
      - query_trace_id
      - results
      - warnings
    SearchResult:
      example:
        score: 0.4145608029883936
        capability:
          capability_id: capability_id
          resolution_confidence: 1.4658129805029452
          capability_type: capability_type
        endpoints:
        - primary_protocol: primary_protocol
          price_usd: price_usd
          operated_by_id: operated_by_id
          resource_type: resource_type
          price_atomic: 5
          endpoint_id: endpoint_id
          operated_by_type: operated_by_type
          ranking:
            rank_reason: rank_reason
            min_total_latency_ms: 3
            similarity: 2.3021358869347655
            max_total_latency_ms: 2
            price_atomic: 7
            median_ttfb_ms: 9
            probe_status: probe_status
          price_decimals: 5
          settled_via_facilitator_id: settled_via_facilitator_id
          url: url
          price_currency: price_currency
        - primary_protocol: primary_protocol
          price_usd: price_usd
          operated_by_id: operated_by_id
          resource_type: resource_type
          price_atomic: 5
          endpoint_id: endpoint_id
          operated_by_type: operated_by_type
          ranking:
            rank_reason: rank_reason
            min_total_latency_ms: 3
            similarity: 2.3021358869347655
            max_total_latency_ms: 2
            price_atomic: 7
            median_ttfb_ms: 9
            probe_status: probe_status
          price_decimals: 5
          settled_via_facilitator_id: settled_via_facilitator_id
          url: url
          price_currency: price_currency
        provider:
          verification_state: verification_state
          origin_domains:
          - origin_domains
          - origin_domains
          provider_id: provider_id
          display_name: display_name
          identity_confidence: 6.027456183070403
      properties:
        provider:
          $ref: "#/components/schemas/SearchProviderRef"
        capability:
          $ref: "#/components/schemas/SearchCapabilityRef"
        endpoints:
          items:
            $ref: "#/components/schemas/SearchEndpointHit"
          type: array
        score:
          format: double
          maximum: 1
          minimum: 0
          type: number
      required:
      - capability
      - endpoints
      - provider
      - score
    SearchProviderRef:
      example:
        verification_state: verification_state
        origin_domains:
        - origin_domains
        - origin_domains
        provider_id: provider_id
        display_name: display_name
        identity_confidence: 6.027456183070403
      properties:
        provider_id:
          type: string
        display_name:
          type: string
          nullable: true
        origin_domains:
          items:
            type: string
          type: array
        verification_state:
          type: string
          nullable: true
        identity_confidence:
          type: number
          nullable: true
    SearchCapabilityRef:
      example:
        capability_id: capability_id
        resolution_confidence: 1.4658129805029452
        capability_type: capability_type
      properties:
        capability_id:
          type: string
        capability_type:
          type: string
          nullable: true
        resolution_confidence:
          type: number
          nullable: true
    SearchEndpointHit:
      example:
        primary_protocol: primary_protocol
        price_usd: price_usd
        operated_by_id: operated_by_id
        resource_type: resource_type
        price_atomic: 5
        endpoint_id: endpoint_id
        operated_by_type: operated_by_type
        ranking:
          rank_reason: rank_reason
          min_total_latency_ms: 3
          similarity: 2.3021358869347655
          max_total_latency_ms: 2
          price_atomic: 7
          median_ttfb_ms: 9
          probe_status: probe_status
        price_decimals: 5
        settled_via_facilitator_id: settled_via_facilitator_id
        url: url
        price_currency: price_currency
      properties:
        endpoint_id:
          type: string
        url:
          type: string
          nullable: true
        resource_type:
          type: string
          nullable: true
        primary_protocol:
          type: string
          nullable: true
        price_atomic:
          description: |
            Price in atomic units (micro-USD) for this endpoint. Use this for
            settlement (exact, integer). Null when unpriced.
          type: integer
          nullable: true
        price_usd:
          description: |
            Server-derived price in USD as a decimal string (= `price_atomic` /
            1e6, e.g. "0.008" for `price_atomic` 8000) — the dollar value people
            and agents reason in. A decimal string, never a float; trailing zeros
            trimmed. Null when unpriced (mirrors `price_atomic`). For settlement
            use `price_atomic`.
          type: string
          nullable: true
        price_currency:
          type: string
          nullable: true
        price_decimals:
          type: integer
          nullable: true
        operated_by_id:
          type: string
          nullable: true
        operated_by_type:
          type: string
          nullable: true
        settled_via_facilitator_id:
          type: string
          nullable: true
        ranking:
          $ref: "#/components/schemas/SearchEndpointRanking"
    SearchEndpointRanking:
      example:
        rank_reason: rank_reason
        min_total_latency_ms: 3
        similarity: 2.3021358869347655
        max_total_latency_ms: 2
        price_atomic: 7
        median_ttfb_ms: 9
        probe_status: probe_status
      properties:
        similarity:
          type: number
          nullable: true
        price_atomic:
          type: integer
          nullable: true
        rank_reason:
          type: string
          nullable: true
        probe_status:
          type: string
          nullable: true
        median_ttfb_ms:
          type: integer
          nullable: true
        min_total_latency_ms:
          type: integer
          nullable: true
        max_total_latency_ms:
          type: integer
          nullable: true
    SearchErrorResponse:
      description: |
        Bespoke error envelope returned by `/api/v1/search` for `422`, `502`,
        and `500` responses. It differs from the standard `ErrorResponse`
        envelope (no nested `code`/`message`/`request_id`); SDK clients
        should handle both shapes for this endpoint until the controller
        is migrated to the standard envelope.
      example:
        details:
          key: ""
        error: INVALID_QUERY
      properties:
        error:
          description: Stable error code.
          enum:
          - INVALID_QUERY
          - INVALID_MAX_RESULTS
          - INVALID_FILTERS
          - UNKNOWN_PARAMETER
          - SEARCH_UPSTREAM_ERROR
          - SEARCH_BACKEND_MISCONFIGURED
          type: string
        details:
          additionalProperties: true
          description: Optional context. Shape varies by error code.
          type: object
      required:
      - error
    FetchRequest:
      example:
        headers:
          Accept: application/json
          User-Agent: my-agent/1.0
        method: GET
        body: FetchRequest_body
        max_cost_usd: "0.05"
        url: https://x402.api.agentmail.to/v0/inboxes
      properties:
        url:
          description: Target URL. Must pass Weft's URL safety check (no SSRF / private
            IP ranges).
          example: https://x402.api.agentmail.to/v0/inboxes
          format: uri
          type: string
        max_cost_usd:
          default: "0.10"
          description: Hard ceiling on what the buyer is willing to pay. Defaults
            to `0.10` USD.
          example: "0.05"
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        method:
          default: GET
          description: HTTP method to use against the upstream.
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          type: string
        body:
          $ref: "#/components/schemas/FetchRequest_body"
        headers:
          additionalProperties:
            type: string
          description: |
            Headers forwarded to the upstream. Up to 32 headers, 4 KB
            total. The following are silently stripped: `host`,
            `authorization`, `cookie`, `proxy-authorization`,
            `x-forwarded-*`, `x-real-ip`, `x-payment`, `connection`,
            `upgrade`.
          example:
            Accept: application/json
            User-Agent: my-agent/1.0
      required:
      - url
    FetchResponse:
      description: |
        Successful fetch envelope. `body_base64` is the upstream artifact
        bytes, base64-encoded. `paid_usd`, `held_usd`, `payment_status`,
        `tx_hash`, and `merchant` are populated only when the upstream
        charged for the response.

        `paid_usd` is "0" (never the nominal charge amount) until the charge
        is CONFIRMED settled on-chain — a signed-but-unsettled hold reports
        its amount in `held_usd` instead. This is a deliberate honesty fix:
        earlier versions of this endpoint returned the nominal amount in
        `paid_usd` unconditionally, even when the charge never settled.
      example:
        headers:
          key: headers
        held_usd: "0.002"
        payment_status: pending
        paid_usd: "0.002"
        body_base64: body_base64
        merchant: ""
        tx_hash: tx_hash
        artifact_id: 0
        status: 200
      properties:
        status:
          description: HTTP status returned by the upstream after the paid replay.
          example: 200
          type: integer
        headers:
          additionalProperties:
            type: string
          description: Response headers from the upstream.
        body_base64:
          description: Base64-encoded response body. Empty string for empty bodies.
          type: string
        paid_usd:
          description: |
            USD amount actually settled on-chain. "0" for free upstreams AND
            for any charge that hasn't (yet, or ever) settled — a signed hold
            is not yet spend. See `held_usd` for the nominal amount in that case.
          example: "0.002"
          type: string
          nullable: true
        held_usd:
          description: |
            The nominal charge amount when `paid_usd` is "0" — a hold awaiting
            settlement, or a charge that failed/expired without ever settling.
            `null` once `paid_usd` reflects the real settlement (or for a free
            upstream, where nothing was ever charged).
          example: "0.002"
          type: string
          nullable: true
        payment_status:
          description: |
            Agent-facing settlement status. `pending` = signed, no refusal
            signal yet (settlement may still land, e.g. x402's async
            facilitator webhook). `declined-pending` = the merchant refused
            but the authorization isn't provably dead yet. `declined` /
            `expired` / `reverted` are terminal — the money never moved (or,
            for `reverted`, moved and then reversed on-chain) and never will
            for this charge.
          enum:
          - settled
          - pending
          - declined-pending
          - declined
          - expired
          - reverted
          example: pending
          type: string
        tx_hash:
          description: Settlement transaction hash. Null for free upstreams.
          type: string
          nullable: true
        artifact_id:
          description: Internal artifact identifier if the response was persisted;
            `null` otherwise.
          type: integer
          nullable: true
        merchant:
          allOf:
          - $ref: "#/components/schemas/Merchant"
          description: Merchant reputation snapshot. Null for free upstreams.
          nullable: true
      required:
      - artifact_id
      - body_base64
      - headers
      - held_usd
      - merchant
      - paid_usd
      - payment_status
      - status
      - tx_hash
    Merchant:
      properties:
        address:
          description: EVM address that received the payment.
          type: string
        settlement_count:
          description: All-time settlement count for this merchant address.
          minimum: 0
          type: integer
        first_seen_at:
          description: First time Weft observed a payment to this address.
          format: date-time
          type: string
          nullable: true
        dispute_count:
          description: All-time dispute count for this merchant address.
          minimum: 0
          type: integer
      required:
      - address
      - dispute_count
      - first_seen_at
      - settlement_count
    FetchErrorResponse:
      description: |
        Bespoke error envelope for `/api/v1/fetch`. Every error carries the
        buyer's current `policy`, `balance`, and a `dashboard_url` so a CLI
        can render an actionable message without a second round-trip.

        `error` values include the fixed codes listed below plus the
        `POLICY_VIOLATION_<REASON>` family, where `<REASON>` is the violated
        policy field (`MAX_TX`, `DAILY`, or `WEEKLY` — see
        `PolicyViolation::REASONS`).
      example:
        balance:
          promo_usd: "0.00"
          spent_today_usd: "0.42"
          total_usd: "15.34"
          wallet_usdc: "12.34"
          tempo_usd: "3.00"
        details:
          key: ""
        error: EXCEEDED_MAX_COST
        dashboard_url: https://openapi-generator.tech
        policy:
          weekly_limit_usd: "50.00"
          daily_limit_usd: "10.00"
          max_tx_usd: "1.00"
      properties:
        error:
          description: Stable error code.
          enum:
          - INVALID_URL
          - EXCEEDED_MAX_COST
          - INSUFFICIENT_BALANCE
          - CONVERSION_UNAVAILABLE
          - MERCHANT_RETURNED_NON_402
          - ARTIFACT_TOO_LARGE
          - DENYLISTED_RECIPIENT
          - WALLET_ENVIRONMENT_MISMATCH
          - SETTLEMENT_FAILED
          - UNSUPPORTED_PAYMENT_METHOD
          - UNSUPPORTED_ASSET
          - POLICY_VIOLATION_MAX_TX
          - POLICY_VIOLATION_DAILY
          - POLICY_VIOLATION_WEEKLY
          example: EXCEEDED_MAX_COST
          type: string
        details:
          additionalProperties: true
          description: Optional context. Shape varies by error code.
          type: object
        policy:
          $ref: "#/components/schemas/SpendingPolicy"
        balance:
          $ref: "#/components/schemas/FetchBalanceSnapshot"
        dashboard_url:
          description: Deep-link to the dashboard's policy page.
          format: uri
          type: string
      required:
      - balance
      - dashboard_url
      - details
      - error
      - policy
    FetchBalanceSnapshot:
      description: |
        Compact balance snapshot returned inside `FetchErrorResponse`. Less
        rich than `BalanceResponse` — just the fields a CLI needs to explain
        why a fetch failed.
      example:
        promo_usd: "0.00"
        spent_today_usd: "0.42"
        total_usd: "15.34"
        wallet_usdc: "12.34"
        tempo_usd: "3.00"
      properties:
        promo_usd:
          example: "0.00"
          type: string
        wallet_usdc:
          description: Live Base USDC balance.
          example: "12.34"
          type: string
        tempo_usd:
          description: |
            Aggregated USD of allowlisted Tempo dollar tokens, 2dp. `null` when UNKNOWN (RPC read failed or no token allowlisted for the paired chain) — never "0.00" for an unread component.
          example: "3.00"
          type: string
          nullable: true
        total_usd:
          description: |
            Aggregated USD balance = Base USDC + Tempo dollar tokens, 2dp. Equals `wallet_usdc` alone when `tempo_usd` is null. Null when the Base USDC provider is unreachable.
          example: "15.34"
          type: string
          nullable: true
        spent_today_usd:
          example: "0.42"
          type: string
      required:
      - promo_usd
      - spent_today_usd
      - tempo_usd
      - total_usd
      - wallet_usdc
    fetch_403_response:
      oneOf:
      - $ref: "#/components/schemas/FetchErrorResponse"
      - $ref: "#/components/schemas/InsufficientScopeResponse"
    MessageResponse_data:
      example:
        message: message
      properties:
        message:
          type: string
      required:
      - message
    AuthResponse_data:
      example:
        confirmation_required: true
        user:
          id: 0
          email: email
          status: status
        token: token
      properties:
        user:
          $ref: "#/components/schemas/User"
        token:
          type: string
          nullable: true
        confirmation_required:
          type: boolean
      required:
      - confirmation_required
      - user
    SearchResponse_warnings_inner:
      example:
        code: code
        context: "{}"
        cause: cause
        message: message
      properties:
        code:
          type: string
        message:
          type: string
        cause:
          description: Typed cause for codes that carry one (e.g. `DECOMPOSE_FALLBACK`).
            Null otherwise.
          type: string
          nullable: true
        context:
          description: Structured context for the warning. Null when the code carries
            none.
          type: object
          nullable: true
      required:
      - code
      - message
    FetchRequest_body:
      description: Request body forwarded to the upstream. Pass `null` for GET.
      nullable: true
      oneOf:
      - type: string
      - type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: APIKey
      scheme: bearer
      type: http
