openapi: 3.1.0
info:
  description: |
    Weft is an agent-first payments and discovery platform built on open
    protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization,
    ERC-8004 for agent identity). This API powers agent self-enrollment, payment
    flows, and the dashboard control plane.

    All endpoints under `/api/v1` are organization-scoped and require a bearer
    API key. Errors share the envelope defined by `ErrorResponse`.
  title: Weft API
  version: 0.3.1
servers:
- description: Production
  url: https://api.weftlabs.com
- description: Staging
  url: https://staging-api.weftlabs.com
- description: Development
  url: http://localhost:3000
tags:
- description: Account creation and authentication flows
  name: Auth
- description: Current user account information
  name: Account
- description: Payment history and transaction details
  name: Payments
- description: Manage API keys for authentication
  name: API Keys
- description: "Agent management — create, update, and list your agents"
  name: Agents
- description: Payment analytics and volume statistics
  name: Analytics
- description: Configure outbound webhook endpoints to receive payment events
  name: Webhooks
paths:
  /api/v1/docs:
    get:
      operationId: getApiDocs
      responses:
        "200":
          content:
            application/yaml:
              schema:
                type: string
          description: OpenAPI document
      summary: Fetch OpenAPI spec
  /api/v1/auth/sign_up:
    post:
      operationId: signUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Account created
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      summary: Create an account
      tags:
      - Auth
  /api/v1/auth/confirm:
    post:
      operationId: confirmAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Account confirmed
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid token
      summary: Confirm an account
      tags:
      - Auth
  /api/v1/auth/resend-confirmation:
    post:
      operationId: resendConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendConfirmationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Confirmation sent
      summary: Resend confirmation email
      tags:
      - Auth
  /api/v1/auth/sign_in:
    post:
      operationId: signIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Signed in
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid credentials
      summary: Sign in with email and password
      tags:
      - Auth
  /api/v1/auth/password/reset:
    post:
      operationId: requestPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Reset email sent
      summary: Request password reset
      tags:
      - Auth
  /api/v1/auth/password/update:
    post:
      operationId: updatePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password updated
      summary: Update password with reset token
      tags:
      - Auth
  /api/v1/me:
    get:
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
          description: Current user account
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current account
      tags:
      - Account
  /api/v1/payments:
    get:
      operationId: listPayments
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
          description: List of payments
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List payments
      tags:
      - Payments
  /api/v1/payments/{id}:
    get:
      operationId: getPayment
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Payment details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payment not found
      security:
      - bearerAuth: []
      summary: Get payment details
      tags:
      - Payments
  /api/v1/api_keys:
    get:
      operationId: listApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
          description: List of API keys
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List API keys
      tags:
      - API Keys
    post:
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreatedResponse"
          description: "API key created (includes raw key, shown only once)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Create an API key
      tags:
      - API Keys
  /api/v1/api_keys/{id}:
    delete:
      operationId: revokeApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: API key revoked
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API key not found
      security:
      - bearerAuth: []
      summary: Revoke an API key
      tags:
      - API Keys
  /api/v1/agents:
    get:
      operationId: listAgents
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentListResponse"
          description: List of agents
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List agents
      tags:
      - Agents
    post:
      operationId: createAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
          description: Agent created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Create an agent
      tags:
      - Agents
  /api/v1/agents/{id}:
    get:
      operationId: getAgent
      parameters:
      - description: Agent ID or slug
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
          description: Agent details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Agent not found
      security:
      - bearerAuth: []
      summary: Get agent details
      tags:
      - Agents
    patch:
      operationId: updateAgent
      parameters:
      - description: Agent ID or slug
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
          description: Agent updated
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Agent not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Update an agent
      tags:
      - Agents
  /api/v1/analytics:
    get:
      operationId: getAnalytics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsResponse"
          description: Analytics data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get payment analytics
      tags:
      - Analytics
  /api/v1/webhook_endpoints:
    get:
      operationId: listWebhookEndpoints
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointListResponse"
          description: Paginated list of webhook endpoints
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List webhook endpoints
      tags:
      - Webhooks
    post:
      operationId: createWebhookEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookEndpointRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointCreatedResponse"
          description: Webhook endpoint created. The signing secret is only returned
            once.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Create a webhook endpoint
      tags:
      - Webhooks
  /api/v1/webhook_endpoints/{id}:
    delete:
      operationId: deleteWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Webhook endpoint deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Webhook endpoint not found
      security:
      - bearerAuth: []
      summary: Delete a webhook endpoint
      tags:
      - Webhooks
    get:
      operationId: getWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
          description: Webhook endpoint details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Webhook endpoint not found
      security:
      - bearerAuth: []
      summary: Get a webhook endpoint
      tags:
      - Webhooks
    patch:
      operationId: updateWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookEndpointRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
          description: Webhook endpoint updated
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Webhook endpoint not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Update a webhook endpoint
      tags:
      - Webhooks
components:
  schemas:
    ErrorResponse:
      description: |
        Standard error envelope returned by all `/api/v1` endpoints when a
        request fails. The `error.code` value is stable across releases and
        safe to branch on; `error.message` is human-readable and may change.
      example:
        error:
          code: unauthorized
          message: Invalid or expired API key
          request_id: req_01HX9F3K7B2N4P8Q1R6T8Y2Z5
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required:
      - error
    MessageResponse:
      example:
        data:
          message: message
      properties:
        data:
          $ref: "#/components/schemas/MessageResponse_data"
      required:
      - data
    AuthResponse:
      example:
        data:
          confirmation_required: true
          user:
            id: 0
            email: email
            status: status
          token: token
      properties:
        data:
          $ref: "#/components/schemas/AuthResponse_data"
      required:
      - data
    User:
      example:
        id: 0
        email: email
        status: status
      properties:
        id:
          type: integer
        email:
          format: email
          type: string
        status:
          type: string
      required:
      - email
      - id
    MeResponse:
      example:
        data:
          public_profile: true
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          display_name: display_name
          email: email
          public_slug: public_slug
          status: active
      properties:
        data:
          $ref: "#/components/schemas/AccountDetails"
      required:
      - data
    AccountDetails:
      example:
        public_profile: true
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        display_name: display_name
        email: email
        public_slug: public_slug
        status: active
      properties:
        id:
          type: integer
        email:
          format: email
          type: string
        status:
          enum:
          - active
          - blocked
          type: string
        display_name:
          type: string
          nullable: true
        public_profile:
          type: boolean
        public_slug:
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - email
      - id
      - public_profile
      - status
    Payment:
      example:
        amount: 6
        resource_url: resource_url
        resource_host: resource_host
        tx_hash: tx_hash
        recipient_address: recipient_address
        settlement_latency_ms: 5
        api_key_name: api_key_name
        network: network
        fee_amount: 1
        amount_formatted: amount_formatted
        currency: currency
        id: 0
        settled_at: 2000-01-23T04:56:07.000+00:00
        payer_address: payer_address
      properties:
        id:
          type: integer
        tx_hash:
          type: string
        payer_address:
          type: string
        recipient_address:
          type: string
        amount:
          description: "Amount in atomic units (1 USDC = 1,000,000)"
          type: integer
        amount_formatted:
          description: Human-readable amount (e.g. "1.00 USDC")
          type: string
        currency:
          type: string
        network:
          description: CAIP-2 chain identifier
          type: string
        resource_url:
          type: string
          nullable: true
        resource_host:
          type: string
          nullable: true
        fee_amount:
          type: integer
        settlement_latency_ms:
          type: integer
          nullable: true
        settled_at:
          format: date-time
          type: string
        api_key_name:
          type: string
      required:
      - amount
      - amount_formatted
      - api_key_name
      - currency
      - id
      - network
      - payer_address
      - recipient_address
      - settled_at
      - tx_hash
    PaymentListResponse:
      example:
        pagination:
          per_page: 2
          total: 7
          page: 5
          total_pages: 9
        data:
        - amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 5
          api_key_name: api_key_name
          network: network
          fee_amount: 1
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
        - amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 5
          api_key_name: api_key_name
          network: network
          fee_amount: 1
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
      properties:
        data:
          items:
            $ref: "#/components/schemas/Payment"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    PaymentResponse:
      example:
        data:
          amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 5
          api_key_name: api_key_name
          network: network
          fee_amount: 1
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
      properties:
        data:
          $ref: "#/components/schemas/Payment"
      required:
      - data
    ApiKey:
      example:
        last_used_at: 2000-01-23T04:56:07.000+00:00
        revoked_at: 2000-01-23T04:56:07.000+00:00
        key_prefix: key_prefix
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          description: First 16 characters of the key for identification
          type: string
        last_used_at:
          format: date-time
          type: string
          nullable: true
        revoked_at:
          format: date-time
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - key_prefix
    ApiKeyCreated:
      example:
        key_prefix: key_prefix
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        raw_key: raw_key
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
        raw_key:
          description: Full API key (shown only once at creation)
          type: string
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - key_prefix
      - raw_key
    ApiKeyListResponse:
      example:
        pagination:
          per_page: 2
          total: 7
          page: 5
          total_pages: 9
        data:
        - last_used_at: 2000-01-23T04:56:07.000+00:00
          revoked_at: 2000-01-23T04:56:07.000+00:00
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
        - last_used_at: 2000-01-23T04:56:07.000+00:00
          revoked_at: 2000-01-23T04:56:07.000+00:00
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
      properties:
        data:
          items:
            $ref: "#/components/schemas/ApiKey"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    ApiKeyCreatedResponse:
      example:
        data:
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          raw_key: raw_key
      properties:
        data:
          $ref: "#/components/schemas/ApiKeyCreated"
      required:
      - data
    CreateApiKeyRequest:
      example:
        name: name
      properties:
        name:
          description: A friendly name for the API key
          type: string
    Agent:
      example:
        wallet_address: wallet_address
        visibility: public_profile
        stats:
          payments_received: 5
          first_seen: 2000-01-23T04:56:07.000+00:00
          total_paid: 6
          payments_made: 5
          last_active: 2000-01-23T04:56:07.000+00:00
          total_received: 1
          unique_counterparties: 2
        claimed: true
        name: name
        verified: true
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        category: agent
        slug: slug
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        wallet_address:
          type: string
        description:
          type: string
          nullable: true
        category:
          enum:
          - agent
          - data_seller
          - service_provider
          - facilitator
          type: string
        visibility:
          enum:
          - public_profile
          - private_profile
          - unlisted
          type: string
        verified:
          type: boolean
        claimed:
          description: Whether the agent is claimed by a user
          type: boolean
        stats:
          $ref: "#/components/schemas/AgentStats"
        created_at:
          format: date-time
          type: string
      required:
      - category
      - claimed
      - created_at
      - id
      - name
      - slug
      - verified
      - visibility
      - wallet_address
    AgentStats:
      example:
        payments_received: 5
        first_seen: 2000-01-23T04:56:07.000+00:00
        total_paid: 6
        payments_made: 5
        last_active: 2000-01-23T04:56:07.000+00:00
        total_received: 1
        unique_counterparties: 2
      properties:
        total_paid:
          type: integer
        total_received:
          type: integer
        payments_made:
          type: integer
        payments_received:
          type: integer
        unique_counterparties:
          type: integer
        first_seen:
          format: date-time
          type: string
          nullable: true
        last_active:
          format: date-time
          type: string
          nullable: true
    AgentListResponse:
      example:
        pagination:
          per_page: 2
          total: 7
          page: 5
          total_pages: 9
        data:
        - wallet_address: wallet_address
          visibility: public_profile
          stats:
            payments_received: 5
            first_seen: 2000-01-23T04:56:07.000+00:00
            total_paid: 6
            payments_made: 5
            last_active: 2000-01-23T04:56:07.000+00:00
            total_received: 1
            unique_counterparties: 2
          claimed: true
          name: name
          verified: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          category: agent
          slug: slug
        - wallet_address: wallet_address
          visibility: public_profile
          stats:
            payments_received: 5
            first_seen: 2000-01-23T04:56:07.000+00:00
            total_paid: 6
            payments_made: 5
            last_active: 2000-01-23T04:56:07.000+00:00
            total_received: 1
            unique_counterparties: 2
          claimed: true
          name: name
          verified: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          category: agent
          slug: slug
      properties:
        data:
          items:
            $ref: "#/components/schemas/Agent"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    AgentResponse:
      example:
        data:
          wallet_address: wallet_address
          visibility: public_profile
          stats:
            payments_received: 5
            first_seen: 2000-01-23T04:56:07.000+00:00
            total_paid: 6
            payments_made: 5
            last_active: 2000-01-23T04:56:07.000+00:00
            total_received: 1
            unique_counterparties: 2
          claimed: true
          name: name
          verified: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          category: agent
          slug: slug
      properties:
        data:
          $ref: "#/components/schemas/Agent"
      required:
      - data
    Pagination:
      example:
        per_page: 2
        total: 7
        page: 5
        total_pages: 9
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      required:
      - page
      - per_page
      - total
      - total_pages
    SignUpRequest:
      example:
        password: password
        password_confirmation: password_confirmation
        email: email
      properties:
        email:
          format: email
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required:
      - email
      - password
      - password_confirmation
    SignInRequest:
      example:
        password: password
        email: email
      properties:
        email:
          format: email
          type: string
        password:
          type: string
      required:
      - email
      - password
    ConfirmRequest:
      example:
        confirmation_token: confirmation_token
      properties:
        confirmation_token:
          type: string
      required:
      - confirmation_token
    ResendConfirmationRequest:
      example:
        email: email
      properties:
        email:
          format: email
          type: string
      required:
      - email
    PasswordResetRequest:
      example:
        email: email
      properties:
        email:
          format: email
          type: string
      required:
      - email
    PasswordUpdateRequest:
      example:
        password: password
        password_confirmation: password_confirmation
        reset_password_token: reset_password_token
      properties:
        reset_password_token:
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required:
      - password
      - password_confirmation
      - reset_password_token
    Error:
      description: |
        A single error inside an `ErrorResponse` envelope. `code` is the stable
        machine-readable identifier (snake_case), `message` is human-readable,
        `details` carries optional structured context (e.g. validation field
        breakdown), and `request_id` correlates with server logs for debugging.
      properties:
        code:
          description: Stable machine-readable error code (snake_case).
          example: validation_failed
          type: string
        message:
          description: Human-readable error description.
          example: Email has already been taken
          type: string
        details:
          description: Optional structured context about the failure.
          type: object
          nullable: true
        request_id:
          description: Correlates with server logs; include when reporting bugs.
          example: req_01HX9F3K7B2N4P8Q1R6T8Y2Z5
          type: string
      required:
      - code
      - message
    CreateAgentRequest:
      example:
        wallet_address: wallet_address
        visibility: public_profile
        name: name
        description: description
        category: agent
      properties:
        name:
          description: Agent display name
          type: string
        wallet_address:
          description: Ethereum wallet address for this agent
          type: string
        description:
          description: Short description (max 500 chars)
          type: string
        category:
          enum:
          - agent
          - data_seller
          - service_provider
          - facilitator
          type: string
        visibility:
          enum:
          - public_profile
          - private_profile
          - unlisted
          type: string
      required:
      - name
      - wallet_address
    UpdateAgentRequest:
      example:
        visibility: public_profile
        name: name
        description: description
        category: agent
      properties:
        name:
          type: string
        description:
          type: string
        category:
          enum:
          - agent
          - data_seller
          - service_provider
          - facilitator
          type: string
        visibility:
          enum:
          - public_profile
          - private_profile
          - unlisted
          type: string
    DailyVolumePoint:
      example:
        date: 2000-01-23
        volume: 0.8008282
        label: label
      properties:
        date:
          format: date
          type: string
        volume:
          description: Volume in USDC
          format: float
          type: number
        label:
          type: string
      required:
      - date
      - label
      - volume
    DailyCountPoint:
      example:
        date: 2000-01-23
        count: 6
        label: label
      properties:
        date:
          format: date
          type: string
        count:
          type: integer
        label:
          type: string
      required:
      - count
      - date
      - label
    PeriodStats:
      example:
        this_week_count: 5
        count_change: 2.3021358869347655
        last_week_volume: last_week_volume
        last_week_count: 5
        this_week_volume: this_week_volume
        volume_change: 1.4658129805029452
      properties:
        this_week_volume:
          type: string
        last_week_volume:
          type: string
        volume_change:
          type: number
          nullable: true
        this_week_count:
          type: integer
        last_week_count:
          type: integer
        count_change:
          type: number
          nullable: true
      required:
      - last_week_count
      - last_week_volume
      - this_week_count
      - this_week_volume
    TopPayer:
      example:
        volume: volume
        address: address
        count: 9
        truncated: truncated
        volume_raw: 7.061401241503109
      properties:
        address:
          type: string
        truncated:
          type: string
        volume:
          type: string
        volume_raw:
          type: number
        count:
          type: integer
      required:
      - address
      - count
      - truncated
      - volume
      - volume_raw
    EndpointRevenue:
      example:
        volume: volume
        host: host
        count: 2
        volume_raw: 3.616076749251911
      properties:
        host:
          type: string
        volume:
          type: string
        volume_raw:
          type: number
        count:
          type: integer
      required:
      - count
      - host
      - volume
      - volume_raw
    NetworkBreakdown:
      example:
        name: name
        value: 4.145608029883936
      properties:
        name:
          type: string
        value:
          type: number
      required:
      - name
      - value
    AnalyticsData:
      example:
        period_stats:
          this_week_count: 5
          count_change: 2.3021358869347655
          last_week_volume: last_week_volume
          last_week_count: 5
          this_week_volume: this_week_volume
          volume_change: 1.4658129805029452
        revenue_by_endpoint:
        - volume: volume
          host: host
          count: 2
          volume_raw: 3.616076749251911
        - volume: volume
          host: host
          count: 2
          volume_raw: 3.616076749251911
        daily_volume:
        - date: 2000-01-23
          volume: 0.8008282
          label: label
        - date: 2000-01-23
          volume: 0.8008282
          label: label
        daily_count:
        - date: 2000-01-23
          count: 6
          label: label
        - date: 2000-01-23
          count: 6
          label: label
        network_breakdown:
        - name: name
          value: 4.145608029883936
        - name: name
          value: 4.145608029883936
        top_payers:
        - volume: volume
          address: address
          count: 9
          truncated: truncated
          volume_raw: 7.061401241503109
        - volume: volume
          address: address
          count: 9
          truncated: truncated
          volume_raw: 7.061401241503109
      properties:
        daily_volume:
          items:
            $ref: "#/components/schemas/DailyVolumePoint"
          type: array
        daily_count:
          items:
            $ref: "#/components/schemas/DailyCountPoint"
          type: array
        period_stats:
          $ref: "#/components/schemas/PeriodStats"
        top_payers:
          items:
            $ref: "#/components/schemas/TopPayer"
          type: array
        revenue_by_endpoint:
          items:
            $ref: "#/components/schemas/EndpointRevenue"
          type: array
        network_breakdown:
          items:
            $ref: "#/components/schemas/NetworkBreakdown"
          type: array
      required:
      - daily_count
      - daily_volume
      - network_breakdown
      - period_stats
      - revenue_by_endpoint
      - top_payers
    AnalyticsResponse:
      example:
        data:
          period_stats:
            this_week_count: 5
            count_change: 2.3021358869347655
            last_week_volume: last_week_volume
            last_week_count: 5
            this_week_volume: this_week_volume
            volume_change: 1.4658129805029452
          revenue_by_endpoint:
          - volume: volume
            host: host
            count: 2
            volume_raw: 3.616076749251911
          - volume: volume
            host: host
            count: 2
            volume_raw: 3.616076749251911
          daily_volume:
          - date: 2000-01-23
            volume: 0.8008282
            label: label
          - date: 2000-01-23
            volume: 0.8008282
            label: label
          daily_count:
          - date: 2000-01-23
            count: 6
            label: label
          - date: 2000-01-23
            count: 6
            label: label
          network_breakdown:
          - name: name
            value: 4.145608029883936
          - name: name
            value: 4.145608029883936
          top_payers:
          - volume: volume
            address: address
            count: 9
            truncated: truncated
            volume_raw: 7.061401241503109
          - volume: volume
            address: address
            count: 9
            truncated: truncated
            volume_raw: 7.061401241503109
      properties:
        data:
          $ref: "#/components/schemas/AnalyticsData"
      required:
      - data
    WebhookEndpoint:
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        active: true
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        url: https://openapi-generator.tech
        events:
        - payment.received
        - payment.received
      properties:
        id:
          type: integer
        url:
          format: uri
          type: string
        events:
          items:
            enum:
            - payment.received
            - payment.sent
            - agent.created
            - agent.updated
            type: string
          type: array
        active:
          type: boolean
        description:
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - active
      - created_at
      - events
      - id
      - updated_at
      - url
    WebhookEndpointWithSecret:
      allOf:
      - $ref: "#/components/schemas/WebhookEndpoint"
      - properties:
          secret:
            description: Signing secret (whsec_*). Only returned once on creation.
            type: string
        required:
        - secret
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        active: true
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        secret: secret
        url: https://openapi-generator.tech
        events:
        - payment.received
        - payment.received
    WebhookEndpointListResponse:
      example:
        pagination:
          per_page: 2
          total: 7
          page: 5
          total_pages: 9
        data:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          url: https://openapi-generator.tech
          events:
          - payment.received
          - payment.received
        - updated_at: 2000-01-23T04:56:07.000+00:00
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          url: https://openapi-generator.tech
          events:
          - payment.received
          - payment.received
      properties:
        data:
          items:
            $ref: "#/components/schemas/WebhookEndpoint"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    WebhookEndpointResponse:
      example:
        data:
          updated_at: 2000-01-23T04:56:07.000+00:00
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          url: https://openapi-generator.tech
          events:
          - payment.received
          - payment.received
      properties:
        data:
          $ref: "#/components/schemas/WebhookEndpoint"
      required:
      - data
    WebhookEndpointCreatedResponse:
      example:
        data:
          updated_at: 2000-01-23T04:56:07.000+00:00
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          secret: secret
          url: https://openapi-generator.tech
          events:
          - payment.received
          - payment.received
      properties:
        data:
          $ref: "#/components/schemas/WebhookEndpointWithSecret"
      required:
      - data
    CreateWebhookEndpointRequest:
      example:
        description: description
        url: https://openapi-generator.tech
        events:
        - payment.received
        - payment.received
      properties:
        url:
          description: HTTPS URL to send webhook events to
          format: uri
          type: string
        events:
          description: List of event types to subscribe to
          items:
            enum:
            - payment.received
            - payment.sent
            - agent.created
            - agent.updated
            type: string
          type: array
        description:
          description: Optional label for this endpoint
          type: string
      required:
      - events
      - url
    UpdateWebhookEndpointRequest:
      example:
        active: true
        description: description
        url: https://openapi-generator.tech
        events:
        - payment.received
        - payment.received
      properties:
        url:
          format: uri
          type: string
        events:
          items:
            enum:
            - payment.received
            - payment.sent
            - agent.created
            - agent.updated
            type: string
          type: array
        active:
          type: boolean
        description:
          type: string
    MessageResponse_data:
      example:
        message: message
      properties:
        message:
          type: string
      required:
      - message
    AuthResponse_data:
      example:
        confirmation_required: true
        user:
          id: 0
          email: email
          status: status
        token: token
      properties:
        user:
          $ref: "#/components/schemas/User"
        token:
          type: string
          nullable: true
        confirmation_required:
          type: boolean
      required:
      - confirmation_required
      - user
  securitySchemes:
    bearerAuth:
      bearerFormat: APIKey
      scheme: bearer
      type: http
