openapi: 3.1.0
info:
  title: Weft API
  version: 0.3.1
  description: |
    Weft is an agent-first payments and discovery platform built on open
    protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization,
    ERC-8004 for agent identity). This API powers agent self-enrollment, payment
    flows, and the dashboard control plane.

    All endpoints under `/api/v1` are organization-scoped and require a bearer
    API key. Errors share the envelope defined by `ErrorResponse`.
tags:
  - name: Auth
    description: Account creation and authentication flows
  - name: Account
    description: Current user account information
  - name: Payments
    description: Payment history and transaction details
  - name: API Keys
    description: Manage API keys for authentication
  - name: Agents
    description: Agent management — create, update, and list your agents
  - name: Analytics
    description: Payment analytics and volume statistics
  - name: Webhooks
    description: Configure outbound webhook endpoints to receive payment events
servers:
  - url: https://api.weftlabs.com
    description: Production
  - url: https://staging-api.weftlabs.com
    description: Staging
  - url: http://localhost:3000
    description: Development
paths:
  /api/v1/docs:
    get:
      summary: Fetch OpenAPI spec
      operationId: getApiDocs
      responses:
        "200":
          description: OpenAPI document
          content:
            application/yaml:
              schema:
                type: string
  /api/v1/auth/sign_up:
    post:
      summary: Create an account
      operationId: signUp
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/confirm:
    post:
      summary: Confirm an account
      operationId: confirmAccount
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmRequest"
      responses:
        "200":
          description: Account confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "422":
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/resend-confirmation:
    post:
      summary: Resend confirmation email
      operationId: resendConfirmation
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendConfirmationRequest"
      responses:
        "200":
          description: Confirmation sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /api/v1/auth/sign_in:
    post:
      summary: Sign in with email and password
      operationId: signIn
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
      responses:
        "200":
          description: Signed in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/password/reset:
    post:
      summary: Request password reset
      operationId: requestPasswordReset
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      responses:
        "200":
          description: Reset email sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /api/v1/auth/password/update:
    post:
      summary: Update password with reset token
      operationId: updatePassword
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
      responses:
        "200":
          description: Password updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /api/v1/me:
    get:
      summary: Get current account
      operationId: getMe
      tags: [Account]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/payments:
    get:
      summary: List payments
      operationId: listPayments
      tags: [Payments]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: List of payments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/payments/{id}:
    get:
      summary: Get payment details
      operationId: getPayment
      tags: [Payments]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Payment ID
      responses:
        "200":
          description: Payment details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/api_keys:
    get:
      summary: List API keys
      operationId: listApiKeys
      tags: [API Keys]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create an API key
      operationId: createApiKey
      tags: [API Keys]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: API key created (includes raw key, shown only once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreatedResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/api_keys/{id}:
    delete:
      summary: Revoke an API key
      operationId: revokeApiKey
      tags: [API Keys]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: API key ID
      responses:
        "200":
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: API key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/agents:
    get:
      summary: List agents
      operationId: listAgents
      tags: [Agents]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: List of agents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create an agent
      operationId: createAgent
      tags: [Agents]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRequest"
      responses:
        "201":
          description: Agent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/agents/{id}:
    get:
      summary: Get agent details
      operationId: getAgent
      tags: [Agents]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID or slug
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update an agent
      operationId: updateAgent
      tags: [Agents]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgentRequest"
      responses:
        "200":
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/analytics:
    get:
      summary: Get payment analytics
      operationId: getAnalytics
      tags: [Analytics]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/webhook_endpoints:
    get:
      summary: List webhook endpoints
      operationId: listWebhookEndpoints
      tags: [Webhooks]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
      responses:
        "200":
          description: Paginated list of webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create a webhook endpoint
      operationId: createWebhookEndpoint
      tags: [Webhooks]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookEndpointRequest"
      responses:
        "201":
          description: Webhook endpoint created. The signing secret is only returned once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointCreatedResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/webhook_endpoints/{id}:
    get:
      summary: Get a webhook endpoint
      operationId: getWebhookEndpoint
      tags: [Webhooks]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Webhook endpoint details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Webhook endpoint not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a webhook endpoint
      operationId: updateWebhookEndpoint
      tags: [Webhooks]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookEndpointRequest"
      responses:
        "200":
          description: Webhook endpoint updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Webhook endpoint not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete a webhook endpoint
      operationId: deleteWebhookEndpoint
      tags: [Webhooks]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Webhook endpoint deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Webhook endpoint not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
  schemas:
    ErrorResponse:
      type: object
      description: |
        Standard error envelope returned by all `/api/v1` endpoints when a
        request fails. The `error.code` value is stable across releases and
        safe to branch on; `error.message` is human-readable and may change.
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required: [error]
      example:
        error:
          code: "unauthorized"
          message: "Invalid or expired API key"
          request_id: "req_01HX9F3K7B2N4P8Q1R6T8Y2Z5"
    MessageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            message:
              type: string
          required: [message]
      required: [data]
    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/User"
            token:
              type: string
              nullable: true
            confirmation_required:
              type: boolean
          required: [user, confirmation_required]
      required: [data]
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        status:
          type: string
      required: [id, email]
    MeResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AccountDetails"
      required: [data]
    AccountDetails:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        status:
          type: string
          enum: [active, blocked]
        display_name:
          type: string
          nullable: true
        public_profile:
          type: boolean
        public_slug:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
      required: [id, email, status, public_profile, created_at]
    Payment:
      type: object
      properties:
        id:
          type: integer
        tx_hash:
          type: string
        payer_address:
          type: string
        recipient_address:
          type: string
        amount:
          type: integer
          description: Amount in atomic units (1 USDC = 1,000,000)
        amount_formatted:
          type: string
          description: Human-readable amount (e.g. "1.00 USDC")
        currency:
          type: string
        network:
          type: string
          description: CAIP-2 chain identifier
        resource_url:
          type: string
          nullable: true
        resource_host:
          type: string
          nullable: true
        fee_amount:
          type: integer
        settlement_latency_ms:
          type: integer
          nullable: true
        settled_at:
          type: string
          format: date-time
        api_key_name:
          type: string
      required: [id, tx_hash, payer_address, recipient_address, amount, amount_formatted, currency, network, settled_at, api_key_name]
    PaymentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Payment"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    PaymentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Payment"
      required: [data]
    ApiKey:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
          description: First 16 characters of the key for identification
        last_used_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
      required: [id, key_prefix, created_at]
    ApiKeyCreated:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
        raw_key:
          type: string
          description: Full API key (shown only once at creation)
        created_at:
          type: string
          format: date-time
      required: [id, key_prefix, raw_key, created_at]
    ApiKeyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ApiKey"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    ApiKeyCreatedResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ApiKeyCreated"
      required: [data]
    CreateApiKeyRequest:
      type: object
      properties:
        name:
          type: string
          description: A friendly name for the API key
    Agent:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        wallet_address:
          type: string
        description:
          type: string
          nullable: true
        category:
          type: string
          enum: [agent, data_seller, service_provider, facilitator]
        visibility:
          type: string
          enum: [public_profile, private_profile, unlisted]
        verified:
          type: boolean
        claimed:
          type: boolean
          description: Whether the agent is claimed by a user
        stats:
          $ref: "#/components/schemas/AgentStats"
        created_at:
          type: string
          format: date-time
      required: [id, name, slug, wallet_address, category, visibility, verified, claimed, created_at]
    AgentStats:
      type: object
      properties:
        total_paid:
          type: integer
        total_received:
          type: integer
        payments_made:
          type: integer
        payments_received:
          type: integer
        unique_counterparties:
          type: integer
        first_seen:
          type: string
          format: date-time
          nullable: true
        last_active:
          type: string
          format: date-time
          nullable: true
    AgentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Agent"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    AgentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Agent"
      required: [data]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      required: [page, per_page, total, total_pages]
    SignUpRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        password_confirmation:
          type: string
      required: [email, password, password_confirmation]
    SignInRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]
    ConfirmRequest:
      type: object
      properties:
        confirmation_token:
          type: string
      required: [confirmation_token]
    ResendConfirmationRequest:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]
    PasswordResetRequest:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]
    PasswordUpdateRequest:
      type: object
      properties:
        reset_password_token:
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required: [reset_password_token, password, password_confirmation]
    Error:
      type: object
      description: |
        A single error inside an `ErrorResponse` envelope. `code` is the stable
        machine-readable identifier (snake_case), `message` is human-readable,
        `details` carries optional structured context (e.g. validation field
        breakdown), and `request_id` correlates with server logs for debugging.
      properties:
        code:
          type: string
          description: Stable machine-readable error code (snake_case).
          example: "validation_failed"
        message:
          type: string
          description: Human-readable error description.
          example: "Email has already been taken"
        details:
          type: object
          nullable: true
          description: Optional structured context about the failure.
        request_id:
          type: string
          description: Correlates with server logs; include when reporting bugs.
          example: "req_01HX9F3K7B2N4P8Q1R6T8Y2Z5"
      required: [code, message]
    CreateAgentRequest:
      type: object
      properties:
        name:
          type: string
          description: Agent display name
        wallet_address:
          type: string
          description: Ethereum wallet address for this agent
        description:
          type: string
          description: Short description (max 500 chars)
        category:
          type: string
          enum: [agent, data_seller, service_provider, facilitator]
        visibility:
          type: string
          enum: [public_profile, private_profile, unlisted]
      required: [name, wallet_address]
    UpdateAgentRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [agent, data_seller, service_provider, facilitator]
        visibility:
          type: string
          enum: [public_profile, private_profile, unlisted]
    DailyVolumePoint:
      type: object
      properties:
        date:
          type: string
          format: date
        volume:
          type: number
          format: float
          description: Volume in USDC
        label:
          type: string
      required: [date, volume, label]
    DailyCountPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        count:
          type: integer
        label:
          type: string
      required: [date, count, label]
    PeriodStats:
      type: object
      properties:
        this_week_volume:
          type: string
        last_week_volume:
          type: string
        volume_change:
          type: number
          nullable: true
        this_week_count:
          type: integer
        last_week_count:
          type: integer
        count_change:
          type: number
          nullable: true
      required: [this_week_volume, last_week_volume, this_week_count, last_week_count]
    TopPayer:
      type: object
      properties:
        address:
          type: string
        truncated:
          type: string
        volume:
          type: string
        volume_raw:
          type: number
        count:
          type: integer
      required: [address, truncated, volume, volume_raw, count]
    EndpointRevenue:
      type: object
      properties:
        host:
          type: string
        volume:
          type: string
        volume_raw:
          type: number
        count:
          type: integer
      required: [host, volume, volume_raw, count]
    NetworkBreakdown:
      type: object
      properties:
        name:
          type: string
        value:
          type: number
      required: [name, value]
    AnalyticsData:
      type: object
      properties:
        daily_volume:
          type: array
          items:
            $ref: "#/components/schemas/DailyVolumePoint"
        daily_count:
          type: array
          items:
            $ref: "#/components/schemas/DailyCountPoint"
        period_stats:
          $ref: "#/components/schemas/PeriodStats"
        top_payers:
          type: array
          items:
            $ref: "#/components/schemas/TopPayer"
        revenue_by_endpoint:
          type: array
          items:
            $ref: "#/components/schemas/EndpointRevenue"
        network_breakdown:
          type: array
          items:
            $ref: "#/components/schemas/NetworkBreakdown"
      required: [daily_volume, daily_count, period_stats, top_payers, revenue_by_endpoint, network_breakdown]
    AnalyticsResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AnalyticsData"
      required: [data]
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [payment.received, payment.sent, agent.created, agent.updated]
        active:
          type: boolean
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, url, events, active, created_at, updated_at]
    WebhookEndpointWithSecret:
      allOf:
        - $ref: "#/components/schemas/WebhookEndpoint"
        - type: object
          properties:
            secret:
              type: string
              description: "Signing secret (whsec_*). Only returned once on creation."
          required: [secret]
    WebhookEndpointListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEndpoint"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    WebhookEndpointResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/WebhookEndpoint"
      required: [data]
    WebhookEndpointCreatedResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/WebhookEndpointWithSecret"
      required: [data]
    CreateWebhookEndpointRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: HTTPS URL to send webhook events to
        events:
          type: array
          items:
            type: string
            enum: [payment.received, payment.sent, agent.created, agent.updated]
          description: List of event types to subscribe to
        description:
          type: string
          description: Optional label for this endpoint
      required: [url, events]
    UpdateWebhookEndpointRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [payment.received, payment.sent, agent.created, agent.updated]
        active:
          type: boolean
        description:
          type: string
