/*
Weft API

Weft is an agent-first payments and discovery platform built on open protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization, ERC-8004 for agent identity). This API powers agent self-enrollment, payment flows, and the dashboard control plane.  All endpoints under `/api/v1` are organization-scoped and require a bearer API key. Errors share the envelope defined by `ErrorResponse`. 

API version: 0.4.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ResourcesAPIService ResourcesAPI service
type ResourcesAPIService service

type ApiEnrollResourceRequest struct {
	ctx context.Context
	ApiService *ResourcesAPIService
	enrollResourceRequest *EnrollResourceRequest
}

func (r ApiEnrollResourceRequest) EnrollResourceRequest(enrollResourceRequest EnrollResourceRequest) ApiEnrollResourceRequest {
	r.enrollResourceRequest = &enrollResourceRequest
	return r
}

func (r ApiEnrollResourceRequest) Execute() (*EnrolledResourceResponse, *http.Response, error) {
	return r.ApiService.EnrollResourceExecute(r)
}

/*
EnrollResource Self-enroll a Resource (ghost)

Public, unauthenticated endpoint. An agent (or its operator) creates
a ghost Resource — a Resource with no Provider attached. The server
generates the slug and a single-use `claim_token`. The enrolling
client passes the `claim_url` back to its human controller, who
signs up and visits the URL to claim the Resource into their
organization.

**Rate limit:** 10 enrollments / hour / IP. Exceeding the limit
returns `429 Too Many Requests`.

**Server-controlled fields:** `slug` is generated from `name` and
cannot be supplied. `category` is intentionally rejected — domain
category is set after claim, by the human, from a constrained list.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEnrollResourceRequest
*/
func (a *ResourcesAPIService) EnrollResource(ctx context.Context) ApiEnrollResourceRequest {
	return ApiEnrollResourceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnrolledResourceResponse
func (a *ResourcesAPIService) EnrollResourceExecute(r ApiEnrollResourceRequest) (*EnrolledResourceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnrolledResourceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.EnrollResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/resources/enroll"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enrollResourceRequest == nil {
		return localVarReturnValue, nil, reportError("enrollResourceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enrollResourceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
