=begin
#Weft API

#The Weft API powers the `weft` CLI, the hosted MCP server (`weft.network/mcp`), and third-party applications that discover and pay for resources on Weft. The buyer runtime covers six concerns:    1. Account creation and recovery (`/api/v1/auth/*`)   2. Credential identity (`/api/v1/me`)   3. Wallet visibility (`/api/v1/balance`)   4. Discovery (`/api/v1/search`)   5. Paid execution (`/api/v1/fetch`)   6. Purchase history (`/api/v1/purchases`)  Buyer runtime calls require a dashboard-created `wk_*` account key or an OAuth access token with the relevant scope. The organization-scoped API key and payment operations in this document are seller administration surfaces and require an `ax_live_*` resource key. The two key types are not interchangeable.  Agent bootstrap is a separate, temporary path. A `wbt_*` bootstrap bearer can call search plus its own status/cancel operations for 30 minutes. It never resolves to a User and cannot call wallet, balance, fetch, seller, organization, API-key, or MCP surfaces.  Bootstrap lifecycle successes follow the API-standard `{ \"data\": ... }` envelope. All errors share the envelope defined by `ErrorResponse`, except the buyer-runtime endpoints (`/search`, `/fetch`) which use bespoke envelopes carrying additional context — see `SearchErrorResponse` and `FetchErrorResponse`.

The version of the OpenAPI document: 0.12.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class AgentBootstrapApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a bootstrap and revoke delivered OAuth access
    # Pending and claimed bootstraps become rejected. A consumed bootstrap also revokes the delivered OAuth grant and all refresh descendants. Repeated cancellation is idempotent.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [AccountBootstrapStatusResponse]
    def cancel_account_bootstrap(id, opts = {})
      data, _status_code, _headers = cancel_account_bootstrap_with_http_info(id, opts)
      data
    end

    # Cancel a bootstrap and revoke delivered OAuth access
    # Pending and claimed bootstraps become rejected. A consumed bootstrap also revokes the delivered OAuth grant and all refresh descendants. Repeated cancellation is idempotent.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountBootstrapStatusResponse, Integer, Hash)>] AccountBootstrapStatusResponse data, response status code and response headers
    def cancel_account_bootstrap_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentBootstrapApi.cancel_account_bootstrap ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentBootstrapApi.cancel_account_bootstrap"
      end
      pattern = Regexp.new(/^boot_[A-Za-z0-9_-]+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling AgentBootstrapApi.cancel_account_bootstrap, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/api/v1/account_bootstraps/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountBootstrapStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bootstrapAuth']

      new_options = opts.merge(
        :operation => :"AgentBootstrapApi.cancel_account_bootstrap",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentBootstrapApi#cancel_account_bootstrap\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a temporary agent bootstrap
    # Creates a 30-minute, search-only bootstrap and emails a separate claim link to the supplied address. The response includes one-time device credentials and is deliberately identical for new and existing account emails and never contains the claim token. Rate limits apply per IP, normalized email, and OAuth client; request bodies over 4 KiB are rejected before parsing. The bootstrap row and one-time credentials are committed only after the mail relay accepts the claim email. A retryable 503 leaves no bootstrap row behind.
    # @param account_bootstrap_request [AccountBootstrapRequest]
    # @param [Hash] opts the optional parameters
    # @return [AccountBootstrapCreatedResponse]
    def create_account_bootstrap(account_bootstrap_request, opts = {})
      data, _status_code, _headers = create_account_bootstrap_with_http_info(account_bootstrap_request, opts)
      data
    end

    # Create a temporary agent bootstrap
    # Creates a 30-minute, search-only bootstrap and emails a separate claim link to the supplied address. The response includes one-time device credentials and is deliberately identical for new and existing account emails and never contains the claim token. Rate limits apply per IP, normalized email, and OAuth client; request bodies over 4 KiB are rejected before parsing. The bootstrap row and one-time credentials are committed only after the mail relay accepts the claim email. A retryable 503 leaves no bootstrap row behind.
    # @param account_bootstrap_request [AccountBootstrapRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountBootstrapCreatedResponse, Integer, Hash)>] AccountBootstrapCreatedResponse data, response status code and response headers
    def create_account_bootstrap_with_http_info(account_bootstrap_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentBootstrapApi.create_account_bootstrap ...'
      end
      # verify the required parameter 'account_bootstrap_request' is set
      if @api_client.config.client_side_validation && account_bootstrap_request.nil?
        fail ArgumentError, "Missing the required parameter 'account_bootstrap_request' when calling AgentBootstrapApi.create_account_bootstrap"
      end
      # resource path
      local_var_path = '/api/v1/account_bootstraps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_bootstrap_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountBootstrapCreatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AgentBootstrapApi.create_account_bootstrap",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentBootstrapApi#create_account_bootstrap\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read bootstrap lifecycle status
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [AccountBootstrapStatusResponse]
    def get_account_bootstrap(id, opts = {})
      data, _status_code, _headers = get_account_bootstrap_with_http_info(id, opts)
      data
    end

    # Read bootstrap lifecycle status
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountBootstrapStatusResponse, Integer, Hash)>] AccountBootstrapStatusResponse data, response status code and response headers
    def get_account_bootstrap_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentBootstrapApi.get_account_bootstrap ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentBootstrapApi.get_account_bootstrap"
      end
      pattern = Regexp.new(/^boot_[A-Za-z0-9_-]+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling AgentBootstrapApi.get_account_bootstrap, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/api/v1/account_bootstraps/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountBootstrapStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bootstrapAuth']

      new_options = opts.merge(
        :operation => :"AgentBootstrapApi.get_account_bootstrap",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentBootstrapApi#get_account_bootstrap\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
