=begin
#Weft API

#Weft is an agent-first payments and discovery platform built on open protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization, ERC-8004 for agent identity). This API powers agent self-enrollment, payment flows, and the dashboard control plane.  All endpoints under `/api/v1` are organization-scoped and require a bearer API key. Errors share the envelope defined by `ErrorResponse`. 

The version of the OpenAPI document: 0.3.1

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class AgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an agent
    # @param create_agent_request [CreateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentResponse]
    def create_agent(create_agent_request, opts = {})
      data, _status_code, _headers = create_agent_with_http_info(create_agent_request, opts)
      data
    end

    # Create an agent
    # @param create_agent_request [CreateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentResponse, Integer, Hash)>] AgentResponse data, response status code and response headers
    def create_agent_with_http_info(create_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.create_agent ...'
      end
      # verify the required parameter 'create_agent_request' is set
      if @api_client.config.client_side_validation && create_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_agent_request' when calling AgentsApi.create_agent"
      end
      # resource path
      local_var_path = '/api/v1/agents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.create_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#create_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get agent details
    # @param id [String] Agent ID or slug
    # @param [Hash] opts the optional parameters
    # @return [AgentResponse]
    def get_agent(id, opts = {})
      data, _status_code, _headers = get_agent_with_http_info(id, opts)
      data
    end

    # Get agent details
    # @param id [String] Agent ID or slug
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentResponse, Integer, Hash)>] AgentResponse data, response status code and response headers
    def get_agent_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_agent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.get_agent"
      end
      # resource path
      local_var_path = '/api/v1/agents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.get_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List agents
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default to 1)
    # @option opts [Integer] :per_page Items per page (default to 25)
    # @return [AgentListResponse]
    def list_agents(opts = {})
      data, _status_code, _headers = list_agents_with_http_info(opts)
      data
    end

    # List agents
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default to 1)
    # @option opts [Integer] :per_page Items per page (default to 25)
    # @return [Array<(AgentListResponse, Integer, Hash)>] AgentListResponse data, response status code and response headers
    def list_agents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.list_agents ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling AgentsApi.list_agents, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/api/v1/agents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.list_agents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#list_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an agent
    # @param id [String] Agent ID or slug
    # @param update_agent_request [UpdateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentResponse]
    def update_agent(id, update_agent_request, opts = {})
      data, _status_code, _headers = update_agent_with_http_info(id, update_agent_request, opts)
      data
    end

    # Update an agent
    # @param id [String] Agent ID or slug
    # @param update_agent_request [UpdateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentResponse, Integer, Hash)>] AgentResponse data, response status code and response headers
    def update_agent_with_http_info(id, update_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.update_agent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.update_agent"
      end
      # verify the required parameter 'update_agent_request' is set
      if @api_client.config.client_side_validation && update_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_agent_request' when calling AgentsApi.update_agent"
      end
      # resource path
      local_var_path = '/api/v1/agents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.update_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#update_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
