=begin
#Weft API

#Weft is an agent-first payments and discovery platform built on open protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization, ERC-8004 for agent identity). This API powers agent self-enrollment, payment flows, and the dashboard control plane.  All endpoints under `/api/v1` are organization-scoped and require a bearer API key. Errors share the envelope defined by `ErrorResponse`. 

The version of the OpenAPI document: 0.3.1

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get payment analytics
    # @param [Hash] opts the optional parameters
    # @return [AnalyticsResponse]
    def get_analytics(opts = {})
      data, _status_code, _headers = get_analytics_with_http_info(opts)
      data
    end

    # Get payment analytics
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnalyticsResponse, Integer, Hash)>] AnalyticsResponse data, response status code and response headers
    def get_analytics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytics ...'
      end
      # resource path
      local_var_path = '/api/v1/analytics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnalyticsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
