=begin
#Weft API

#The Weft API is the buyer-runtime surface that powers the `weft` CLI, the hosted MCP server (`weft.network/mcp`), and any third-party agent that wants to discover and pay for paid resources on Weft. v1 covers five buyer concerns:    1. Account onboarding (`/api/v1/auth/*`, `/api/v1/me`)   2. CLI authentication (`/api/v1/api_keys`)   3. Wallet visibility (`/api/v1/balance`)   4. Discovery (`/api/v1/search`)   5. Paid execution (`/api/v1/fetch`)   6. Purchase history (`/api/v1/payments`)  Seller-side concerns (agent management, payout analytics, webhook delivery, the public storefront for `data_api` resources) live in the dashboard and are intentionally not documented here. They will be split out into a separate, dashboard-scoped spec when they need to be SDK-consumable.  All errors share the envelope defined by `ErrorResponse`, except the buyer-runtime endpoints (`/search`, `/fetch`) which use bespoke envelopes carrying additional context — see `SearchErrorResponse` and `FetchErrorResponse`. 

The version of the OpenAPI document: 0.6.1

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class FetchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Pay-and-fetch any URL (x402 proxy)
    # Universal x402 fetch proxy. The caller provides a target `url`, a hard `max_cost_usd` ceiling, and optional `method` / `body` / `headers`. Weft:    1. Issues the request.   2. On `402 Payment Required`, parses the merchant's challenge.   3. Compares the asking price to `max_cost_usd` and the      buyer's policy (`max_tx_usd`, daily/weekly limits).   4. Signs an EIP-3009 transfer from the buyer's wallet.   5. Replays the request with the `X-Payment` header.   6. Streams the upstream artifact back, base64-encoded under      `body_base64`, with `paid_usd`, `tx_hash`, and the      merchant's reputation snapshot.  Errors are structured with a stable `error` code, and each error response carries the buyer's `policy`, `balance`, and a `dashboard_url` so a CLI can render an actionable message without a second round-trip.  Account-scoped: the bearer must be a buyer-scoped API key.  **Forwarded headers:** the caller's `headers` are passed through to the upstream, except a denylist of hop-by-hop and Weft-internal headers (`host`, `authorization`, `cookie`, `proxy-authorization`, `x-forwarded-*`, `x-real-ip`, `x-payment`, `connection`, `upgrade`). Up to 32 headers, 4 KB of combined value bytes. 
    # @param fetch_request [FetchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FetchResponse]
    def fetch(fetch_request, opts = {})
      data, _status_code, _headers = fetch_with_http_info(fetch_request, opts)
      data
    end

    # Pay-and-fetch any URL (x402 proxy)
    # Universal x402 fetch proxy. The caller provides a target &#x60;url&#x60;, a hard &#x60;max_cost_usd&#x60; ceiling, and optional &#x60;method&#x60; / &#x60;body&#x60; / &#x60;headers&#x60;. Weft:    1. Issues the request.   2. On &#x60;402 Payment Required&#x60;, parses the merchant&#39;s challenge.   3. Compares the asking price to &#x60;max_cost_usd&#x60; and the      buyer&#39;s policy (&#x60;max_tx_usd&#x60;, daily/weekly limits).   4. Signs an EIP-3009 transfer from the buyer&#39;s wallet.   5. Replays the request with the &#x60;X-Payment&#x60; header.   6. Streams the upstream artifact back, base64-encoded under      &#x60;body_base64&#x60;, with &#x60;paid_usd&#x60;, &#x60;tx_hash&#x60;, and the      merchant&#39;s reputation snapshot.  Errors are structured with a stable &#x60;error&#x60; code, and each error response carries the buyer&#39;s &#x60;policy&#x60;, &#x60;balance&#x60;, and a &#x60;dashboard_url&#x60; so a CLI can render an actionable message without a second round-trip.  Account-scoped: the bearer must be a buyer-scoped API key.  **Forwarded headers:** the caller&#39;s &#x60;headers&#x60; are passed through to the upstream, except a denylist of hop-by-hop and Weft-internal headers (&#x60;host&#x60;, &#x60;authorization&#x60;, &#x60;cookie&#x60;, &#x60;proxy-authorization&#x60;, &#x60;x-forwarded-*&#x60;, &#x60;x-real-ip&#x60;, &#x60;x-payment&#x60;, &#x60;connection&#x60;, &#x60;upgrade&#x60;). Up to 32 headers, 4 KB of combined value bytes. 
    # @param fetch_request [FetchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FetchResponse, Integer, Hash)>] FetchResponse data, response status code and response headers
    def fetch_with_http_info(fetch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FetchApi.fetch ...'
      end
      # verify the required parameter 'fetch_request' is set
      if @api_client.config.client_side_validation && fetch_request.nil?
        fail ArgumentError, "Missing the required parameter 'fetch_request' when calling FetchApi.fetch"
      end
      # resource path
      local_var_path = '/api/v1/fetch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fetch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FetchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"FetchApi.fetch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FetchApi#fetch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
