=begin
#Weft API

#Weft is an agent-first payments and discovery platform built on open protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization, ERC-8004 for agent identity). This API powers agent self-enrollment, payment flows, and the dashboard control plane.  All endpoints under `/api/v1` are organization-scoped and require a bearer API key. Errors share the envelope defined by `ErrorResponse`. 

The version of the OpenAPI document: 0.3.2

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class PublicAPIsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a public OpenAPI document for a data_api Resource
    # Returns the OpenAPI 3.1 document published by a claimed, public-or-unlisted `data_api` Resource. Pricing is intentionally absent — under x402 the price is negotiated per-request via the `402 Payment Required` challenge from the resource server itself.  Browsers (`Accept: text/html`) get an Inertia-rendered HTML landing page instead; SDKs and tooling should prefer `GET /apis/{slug}/openapi` to avoid content-type negotiation.  Ghost Resources (no Provider attached) and `private_profile` Resources return `404`. 
    # @param slug [String] Resource slug
    # @param [Hash] opts the optional parameters
    # @return [OpenApiDocument]
    def get_api_by_slug(slug, opts = {})
      data, _status_code, _headers = get_api_by_slug_with_http_info(slug, opts)
      data
    end

    # Get a public OpenAPI document for a data_api Resource
    # Returns the OpenAPI 3.1 document published by a claimed, public-or-unlisted &#x60;data_api&#x60; Resource. Pricing is intentionally absent — under x402 the price is negotiated per-request via the &#x60;402 Payment Required&#x60; challenge from the resource server itself.  Browsers (&#x60;Accept: text/html&#x60;) get an Inertia-rendered HTML landing page instead; SDKs and tooling should prefer &#x60;GET /apis/{slug}/openapi&#x60; to avoid content-type negotiation.  Ghost Resources (no Provider attached) and &#x60;private_profile&#x60; Resources return &#x60;404&#x60;. 
    # @param slug [String] Resource slug
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpenApiDocument, Integer, Hash)>] OpenApiDocument data, response status code and response headers
    def get_api_by_slug_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicAPIsApi.get_api_by_slug ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling PublicAPIsApi.get_api_by_slug"
      end
      # resource path
      local_var_path = '/apis/{slug}'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OpenApiDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicAPIsApi.get_api_by_slug",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicAPIsApi#get_api_by_slug\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the OpenAPI document for a data_api Resource (deterministic JSON)
    # Always returns the OpenAPI 3.1 JSON document, regardless of `Accept` header. SDKs and code-generators should use this path; it is not subject to the HTML/JSON content-type negotiation that `GET /apis/{slug}` performs.  Same visibility rules as `GET /apis/{slug}` (Ghost Resources and `private_profile` Resources return `404`). 
    # @param slug [String] Resource slug
    # @param [Hash] opts the optional parameters
    # @return [OpenApiDocument]
    def get_api_open_api_by_slug(slug, opts = {})
      data, _status_code, _headers = get_api_open_api_by_slug_with_http_info(slug, opts)
      data
    end

    # Get the OpenAPI document for a data_api Resource (deterministic JSON)
    # Always returns the OpenAPI 3.1 JSON document, regardless of &#x60;Accept&#x60; header. SDKs and code-generators should use this path; it is not subject to the HTML/JSON content-type negotiation that &#x60;GET /apis/{slug}&#x60; performs.  Same visibility rules as &#x60;GET /apis/{slug}&#x60; (Ghost Resources and &#x60;private_profile&#x60; Resources return &#x60;404&#x60;). 
    # @param slug [String] Resource slug
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpenApiDocument, Integer, Hash)>] OpenApiDocument data, response status code and response headers
    def get_api_open_api_by_slug_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicAPIsApi.get_api_open_api_by_slug ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling PublicAPIsApi.get_api_open_api_by_slug"
      end
      # resource path
      local_var_path = '/apis/{slug}/openapi'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OpenApiDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicAPIsApi.get_api_open_api_by_slug",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicAPIsApi#get_api_open_api_by_slug\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
