=begin
#Weft API

#Weft is an agent-first payments and discovery platform built on open protocols (x402 for stablecoin payments, EIP-3009 for transfer-with-authorization, ERC-8004 for agent identity). This API powers agent self-enrollment, payment flows, and the dashboard control plane.  All endpoints under `/api/v1` are organization-scoped and require a bearer API key. Errors share the envelope defined by `ErrorResponse`. 

The version of the OpenAPI document: 0.4.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class ResourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Self-enroll a Resource (ghost)
    # Public, unauthenticated endpoint. An agent (or its operator) creates a ghost Resource — a Resource with no Provider attached. The server generates the slug and a single-use `claim_token`. The enrolling client passes the `claim_url` back to its human controller, who signs up and visits the URL to claim the Resource into their organization.  **Rate limit:** 10 enrollments / hour / IP. Exceeding the limit returns `429 Too Many Requests`.  **Server-controlled fields:** `slug` is generated from `name` and cannot be supplied. `category` is intentionally rejected — domain category is set after claim, by the human, from a constrained list. 
    # @param enroll_resource_request [EnrollResourceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnrolledResourceResponse]
    def enroll_resource(enroll_resource_request, opts = {})
      data, _status_code, _headers = enroll_resource_with_http_info(enroll_resource_request, opts)
      data
    end

    # Self-enroll a Resource (ghost)
    # Public, unauthenticated endpoint. An agent (or its operator) creates a ghost Resource — a Resource with no Provider attached. The server generates the slug and a single-use &#x60;claim_token&#x60;. The enrolling client passes the &#x60;claim_url&#x60; back to its human controller, who signs up and visits the URL to claim the Resource into their organization.  **Rate limit:** 10 enrollments / hour / IP. Exceeding the limit returns &#x60;429 Too Many Requests&#x60;.  **Server-controlled fields:** &#x60;slug&#x60; is generated from &#x60;name&#x60; and cannot be supplied. &#x60;category&#x60; is intentionally rejected — domain category is set after claim, by the human, from a constrained list. 
    # @param enroll_resource_request [EnrollResourceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrolledResourceResponse, Integer, Hash)>] EnrolledResourceResponse data, response status code and response headers
    def enroll_resource_with_http_info(enroll_resource_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.enroll_resource ...'
      end
      # verify the required parameter 'enroll_resource_request' is set
      if @api_client.config.client_side_validation && enroll_resource_request.nil?
        fail ArgumentError, "Missing the required parameter 'enroll_resource_request' when calling ResourcesApi.enroll_resource"
      end
      # resource path
      local_var_path = '/api/v1/resources/enroll'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enroll_resource_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnrolledResourceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ResourcesApi.enroll_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#enroll_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
